.bg-footer {
    background-color: var(--color-primary);
}

.marca {
    padding-top: 3%;
}

.primeraParte {
    /* padding-bottom: 2%; */
    margin-bottom: -1%;
}

a img {
    height: 40%;
}

hr {
    color: white;
}

.logo {
    width: 10%;
}