<footer class="container-fluid bg-footer">
    <div class="row">
        <div class="col-12 primeraParte">
            <div class="d-flex flex-column  marca">
                <div class="d-flex justify-content-center">
                    <img src="assets/logos/ReCrea-blanco.svg">
                </div>
                <div class="d-flex justify-content-center pt-4">
                    <div class="d-flex justify-content-between">
                        <a href="https://www.twitter.com">
                            <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAACXBIWXMAAAsTAAALEwEAmpwYAAABf0lEQVR4nO3WT0sVYRTH8anERUgYbqQSQfQdCK0Scm3RpoWuRBA39hpch+ArcKmtU6ggNwqu3EgQ1CvIEBUFxRLpE4OnHMXufdSZ66L7W82cOf/mfHlmTpY11dQ54Y3aGs4ShbtYi7gVtKYEdWCjRgNb6EzIcxtvI+Yr7qc2nuFZBB6gt2B/H/aFhBzT4buNvuTiF6BYzd8mbA+wUw8FRsPnCIPZVeQsismCfawWCjzBj/CZuFLxS6BY/Ot8Yu/BZjx7nZUhzKegwD18Dts73CmrgY4EFI+wFPfraCul+B/hRSTfz8dcsH8oNJHrG7qyKqQ+ikM8rqT4dU5FqXLJU3FTKEaqbuAhjm8EBW5hLgo1HgWmosAePsb1cgFF/j3YrQQFXuJXjH+ooacC/THuXK8aeirQje+RcLbM33ZK8TZ8ikQ585YLfKpB4WSlWogkX9Bew/d56SgwU3iDuitVqSicji9fqZ4mxpSyzGYYwM8IGk/u+iyKf6nuMtvU/6ffbF7Ucr867AwAAAAASUVORK5CYII=">
                        </a>
                        <a href="https://www.instagram.com">
                            <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAACXBIWXMAAAsTAAALEwEAmpwYAAABg0lEQVR4nL2VQU4CQRBFiSsDESMeQnApxngIR+5hPAaMukcggFsPgEsWHkBM1GMYtxJQ5JmKP3HEnmGmMVZSCXRX/9f9e6Yml/vvAHaBc+AGGKZMqz0DKknCa8AFMAMmwF0GwAiYam1oWi6AiVu0gC2Pk5eAjjRCly1Gb2UVXgxBZj/skn8Tz50fAi/Atf5vy65GtMguabREqADsKwuR8VPZ8hwZuwcG0cW3ljHCmzr2mO+w322gCKwDJ8BBrF4cQOJPwAfQBQLgGOgBc+DRII51qQEdiR855gLNXXoB5PnYdu6yTjV94BXI+wDsMi2CBIDZZVH1AVS1OAlQU83eKhb1EgBX3hZpvK2LDGLssSep6ZhLDSjqUZzrQmvKvsYegA1vQATSWnjRzJamSzwOkKZV5O0ylfkltb9aRagGVcqtGHw1uzegHh2sqMV2/gDQBd6B8uKEnQK1h5LnzrvSqMd9MkOdZCofhynTas0W23nd+cmMgMoCDTIArLYB7GQ9+crxCY+EgRU4yxgKAAAAAElFTkSuQmCC">
                        </a>
                        <a href="https://www.facebook.com">
                            <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAYAAAAeP4ixAAAACXBIWXMAAAsTAAALEwEAmpwYAAABlUlEQVR4nO2ZvUoDQRSFx178w07FxsYmYt7AF7AIWFpYiW2w9SGiYOEr2BgFtbFJ0D6tlWCt+FOIjZ/M7g1EYXdnk8zkRudrd+/JOTmTvZA1JvIPAdaAA+AGeADeSXkDnoFH4B64A86BXaMJYB24ojyfRgvADvAhxl6AI2ATWAYm5Z4pYBZYAirARjeJ0QCw3fPtHgLTJWYT/Dp0M1LpaWKvj/kEP+7KGTlLrXDc53zC8J2VM7EKfMlTaX6cg+yLj5MBNBKG66y8icvUBls59ywCp7JDMjGjRJaaZSUnxBPFtMK7/2nUbmnLTMZ124TlAlgwWiH9oVsmMq53j5PeEJai863i/LsQg2iDcTpawG3RszNn1pVWiCB9mwDajkFegwXxpF0V+Y4P/ZBBaiLf9KEfMkhd5Bs+9EMGaYh83Yd+yCBNka/50A8ZpCPyVR/6vz+siPYgO0iYCxGkcBfkzLpwbUaNaxCjHWIQZRAbUQaxEWUQG1EGsRFlEBtRBrERZRAbUQZ/rZEijHZw+293tO8HIyYM32El+cwSCYi/AAAAAElFTkSuQmCC">
                        </a>
                        <a href="https://www.youtube.com">
                            <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAAACXBIWXMAAAsTAAALEwEAmpwYAAACPElEQVR4nO3Zz0sVURjG8QELJAtskREGSm1DK9dRucgW/QdJm378AWU/l7VPCGkZBZW0TIpWFS6kiNCkrddcuNZNZEXwiaEzebh45d6L3nFwvnAXdzjPc953zjsznPckSUlJSUkhwH6cwjCuYRTPMYnPmEUFC1jCslWWw7WFMOZL0EwGj9HgORzm6NqooHfgCr5qPbO4jLZmgz+IT/LnI7qbKZf5KqPvmMJ4WPKRaMkH0IdD6MFedEZ+neFaTxjTFzSng8dI8BwPc6RzxVQaKiu8icQruI6OpEWgAzfC3Bmv6hWndyXjD85sesQ1wFCIIeNkPaLHkeBBkjMYi+J5VI8grbeMoy2Jch1wPIpnrh5BXHftSc6gPX4e6xH8J9kiaCSmbZ+Af1/vc+gv5ArgRWTxMv1wNeOTZwK/Yo/wUriLXc345ZFALRZxocgJZLzDkSInkPIbt4ucQMZAmUCOJXSnGc+tkEBhH+LForxGV6oCT//fK9KH7ElkMYHDzfjkmcDOdBu6kZshrUxgM7DdElgp+payEgmOtSTKdQgNsIY29XFbZSzJGTxstK2Stgoz0qbSUEsiXQOcrWpsnahX+DquO9zE7qRFYA9u4WcUx0QjBl1Vz0LKjxrN3cFQp/2hcdu7TnO3N4zpD5rBGs3ddK6YOexr9C5044P8mcKBxtZwNYk2XMJMDoFP42LTBxw1yio+YrqPZ3gfjotmQtl9W+OIaSn85sOY6aB5i6fB6yrOb+gRU0lJSUmy2fwFmDabCBFrAc0AAAAASUVORK5CYII=">
                        </a>
                    </div>
                 </div>
            </div>
        </div>
        <div class="col-12">
            <hr/>
            <div class="row">
                <div class="d-flex pb-3 pt-2 text-white">
                    <div class="col-6 d-flex justify-content-start">
                        <div class="ms-5 hstack gap-3">
                            <span>Privacidad </span> 
                            <div class="vr"></div>
                            <span> Términos y Condiciones</span>
                        </div>
                        
                    </div>
                    <div class="col-6 d-flex justify-content-end">
                        <div class="me-5">
                            <span>Ⓒ 2024 LGTM. Todos los derechos reservados.</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>