td,
th {
  width: 25%;
}

.btn-status {
  width: 100%;
  font-size: 0.75rem !important;
  font-family: "Fredoka", sans-serif;
  letter-spacing: 0.5px;
  color: white !important;
  border-radius: 1rem;
  border: none;
  padding: 0.4rem;
  margin: 0;
}

.yellow-background {
  background-image: linear-gradient(310deg, #A4C2DB 0%, #4281A4 100%);
  color: white !important;
}

.green-background {
  background-image: linear-gradient(310deg, #CBE5A8 0%, #8BC53F 100%);
  color: white !important;
}

.checkbox-container {
  position: relative;
  display: inline-block;
}

.checkbox-container .blocked {
  position: relative;
}

.checkbox-container .blocked::after {
  content: 'x';
  color: gray;
  font-size: 16px;
  font-family: "Fredoka", sans-serif;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
}

.btn-success {
  border-radius: 0px;
  background-image: linear-gradient(310deg, #CBE5A8 0%, #8BC53F 100%);
}

.btn-success:hover {
  transform: none !important;
}

.full-width {
  width: 100%;
}

.table-container {
  overflow-x: auto;
}

.responsive-table {
  width: 100%;
  min-width: 600px;
}

@media (max-width: 600px) {

  .responsive-table th.mat-header-cell,
  .responsive-table td.mat-cell {
    display: none;
  }

  .responsive-table th.mat-header-cell:first-child,
  .responsive-table td.mat-cell:first-child {
    display: table-cell;
  }
}

.dashboard {
  display: flex;
  justify-content: space-around;
}

.dashboard>.col,
.dashboard>[class*=col-] {
  padding-right: 0;
  padding-left: 0;
}

.subcontainer {
  text-align: center;
  padding: 1rem;
  position: relative;
  border-width: 0px;
  justify-content: center;
  align-items: center;
}

.subcontainer .title:first-child {
  margin-top: 0;
}

.subcontainer .title {
  margin: -0.5rem 0 0;
  display: block;
  opacity: .6;
}

.data {
  flex: 1;
  /* align-items: flex-start; */
}

.number {
  font-weight: 700;
  font-size: 26px;
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* Altura completa de la ventana */
  background-color: rgba(255, 255, 255, 0.8);
  /* Fondo semitransparente */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
  /* Asegura que esté encima de otros elementos */
}

.spinner {
  border: 16px solid #f3f3f3;
  /* Color de fondo */
  border-top: 16px solid var(--color-primary);
  /* Color del spinner */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.highlight {
  background-color: rgba(139, 197, 63, 0.6);
  transition: background-color 1s;
}

h6 {
  font-family: "Fredoka", sans-serif;
  font-weight: 400;
}

ng-container {
  font-family: "Fredoka", sans-serif;
  font-weight: 400;
}

.mat-mdc-header-row, .mat-mdc-no-data-row {
  font-family: "Fredoka", sans-serif;
  font-weight: 400;
}

.mat-mdc-form-field {
  font-size: 0.9rem;
  width: 100%;
}

.mdc-checkbox .mdc-checkbox__native-control[disabled]:not(:checked):not(:indeterminate):not([data-indeterminate=true])~.mdc-checkbox__background{
  background-color: gray!important;
  opacity: 0.2!important;
}

.mat-mdc-paginator {
  font-size: 0.8rem;
}

.link{
  font-size: 1rem;
  font-family: "Fredoka", sans-serif;
}