<div *ngIf="loading" class="loading-container">
  <div class="spinner"></div>
</div>

<section *ngIf="!loading">
  <div class="page-container min-vh-100">
    <div>
      <img
        class="position-absolute fixed-top ms-auto w-60 h-100 z-index-0 d-none d-sm-none d-md-block border-radius-section border-top-end-radius-0 border-top-start-radius-0 border-bottom-end-radius-0"
        src="../assets/img/a.png">
      <img
        class="position-absolute fixed-top ms-8 w-auto h-100 z-index-0 d-xl-none border-radius-section border-top-end-radius-0 border-top-start-radius-0 border-bottom-end-radius-0"
        src="../assets/img/a-mobile.png">
    </div>
    <div class="container">
      <div class="card blur justify-content-center shadow-lg mt-7 mb-5 px-lg-4 pb-3">

        <div *ngIf="existDonations" class="row text-center mx-1 mt-4">
          <h2>Organización <span class="text-gradient text-secondary">{{ orgName }}</span></h2>
        </div>

        <div *ngIf="!existDonations" class="row text-center mx-1 mt-4">
          <h2>Todavía no recibiste <span class="text-gradient text-secondary">donaciones</span></h2>
          <div class="card-body pb-2">
            <div class="row">
              <div class="col text-center">
                <h1>
                  <i class="fas fa-hand-holding-heart text-gradient text-secondary"></i>
                </h1>
                <p class="lead mt-3">¡No te desanimes! Completá toda la información sobre tu organización y sedes para que sea visible a los usuarios. <br />
                  Asegurate que toda tu información esté actualizada y cargá tus necesidades. <br />
                  ¡En poco tiempo vas a comenzar a recibir donaciones!</p>
              </div>
            </div>
            <div class="text-center justify-content-center align-items-center">
              <button routerLink="/mi-organizacion" class="btn btn-round bg-gradient-primary mt-4 mb-4">Mi organización</button>
            </div>
          </div>
        </div>

        <div *ngIf="existDonations" class="card-body">
          <div class="row dashboard gap-3">
            <div class="col-md-3">
              <div class="card subcontainer text-left d-flex flex-row h-100">
                <div class="d-flex align-items-center">
                  <h1>
                    <i class="fas fa-hand-holding-heart text-gradient text-secondary"></i>
                  </h1>
                </div>
                <div class="d-flex flex-column data ps-3">
                  <div class="title">Total de donaciones</div>
                  <div *ngIf="totalDonations > 0; else noData">
                    <div class="number">
                      {{ totalDonations | number : "1.0-0" }} u.
                    </div>
                  </div>
                  <ng-template #noData>
                    <div class="number">No hay datos disponibles</div>
                  </ng-template>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="card subcontainer text-left d-flex flex-row h-100">
                <div class="d-flex align-items-center">
                  <h1>
                    <i class="fas fa-box-open text-gradient text-secondary"></i>
                  </h1>
                </div>
                <div class="d-flex flex-column data ps-3">
                  <div class="title">Promedio de donaciones</div>
                  <div *ngIf="averageDonations > 0; else noDataAvg">
                    <div class="number">
                      {{ averageDonations | number : "1.0-0" }} u.
                    </div>
                  </div>
                  <ng-template #noDataAvg>
                    <div class="number">No hay datos disponibles</div>
                  </ng-template>
                </div>
              </div>
              <div class="divider m-0 d-md-none d-sm-block"></div>
            </div>
            <div class="col-md-3">
              <div class="card subcontainer text-left d-flex flex-row h-100">
                <div class="d-flex align-items-center">
                  <h1>
                    <i class="fas fa-award text-gradient text-secondary"></i>
                  </h1>
                </div>
                <div class="d-flex flex-column data ps-3">
                  <div class="title">Producto más donado</div>
                  <div *ngIf="
                              productMostDonate && productMostDonate.amount > 0;
                              else noDataProduct
                            ">
                    <div class="number">
                      <span class="text-capitalize">{{ productMostDonate.product }}</span> ({{ productMostDonate.amount }} u.)
                    </div>
                  </div>
                  <ng-template #noDataProduct>
                    <div class="number">No hay datos disponibles</div>
                  </ng-template>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div *ngIf="existDonations" class="container mb-4">
          <hr class="horizontal dark">
          <div class="col-8 text-center mx-auto pt-3 px-lg-4">
            <h3>Donaciones</h3>
          </div>
          <mat-form-field class="full-width">
            <mat-label>Filtro</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="Podés escribir nombre, producto, correo, etc."
              #input />
          </mat-form-field>
          <div class="card table-responsive">
            <table mat-table [dataSource]="dataSource" matSort class="responsive-table">
              <!-- Name Column -->
              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header
                  class="text-uppercase text-secondary text-xs font-weight-bolder opacity-7">Donador</th>
                <td mat-cell *matCellDef="let row" [ngClass]="{ highlight: row.highlight }">
                  <h6 class="mb-0">{{ row.name }}</h6>
                </td>
              </ng-container>
              <!-- Telefono Column -->
              <ng-container matColumnDef="telefono">
                <th mat-header-cell *matHeaderCellDef mat-sort-header
                  class="text-uppercase text-secondary text-xs font-weight-bolder opacity-7">Teléfono</th>
                <td mat-cell *matCellDef="let row" [ngClass]="{ highlight: row.highlight }">
                  <a class="link" target="_blank" [href]="getWhatsAppLink(row)">
                    {{ row.telefono }} <i class="far fa-comment-dots"></i>
                  </a>
                </td>
              </ng-container>
              <!-- Email Column -->
              <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef mat-sort-header
                  class="text-uppercase text-secondary text-xs font-weight-bolder opacity-7">Correo electrónico</th>
                <td mat-cell *matCellDef="let row" [ngClass]="{ highlight: row.highlight }">
                  <a class="link" [href]="getEmailLink(row)">
                    {{ row.email }} <i class="far fa-comment-dots"></i>
                  </a>
                </td>
              </ng-container>
              <!-- Producto Column -->
              <ng-container matColumnDef="producto">
                <th mat-header-cell *matHeaderCellDef mat-sort-header
                  class="text-uppercase text-secondary text-xs font-weight-bolder opacity-7">Producto</th>
                <td mat-cell *matCellDef="let row" [ngClass]="{ highlight: row.highlight }">
                  <h6 class="mb-0">{{ row.producto }}</h6>
                </td>
              </ng-container>
              <!-- Cantidad Column -->
              <ng-container matColumnDef="cantidad">
                <th mat-header-cell *matHeaderCellDef mat-sort-header
                  class="text-center text-uppercase text-secondary text-xs font-weight-bolder opacity-7">Cantidad</th>
                <td mat-cell *matCellDef="let row" [ngClass]="{ highlight: row.highlight }" class="text-center">
                  <h6 class="mb-0">{{ row.cantidad }}</h6>
                </td>
              </ng-container>

              <ng-container matColumnDef="fecha">
                <th mat-header-cell *matHeaderCellDef mat-sort-header
                  class="text-center text-uppercase text-secondary text-xs font-weight-bolder opacity-7">Fecha</th>
                <td mat-cell *matCellDef="let row" [ngClass]="{ highlight: row.highlight }" class="text-center">
                  <h6 class="mb-0">{{ row.fecha | date : "dd/MM/yyyy" }}</h6>
                </td>
              </ng-container>
              <!-- Estado Column-->
              <ng-container matColumnDef="estado">
                <th mat-header-cell *matHeaderCellDef mat-sort-header
                  class="text-center text-uppercase text-secondary text-xs font-weight-bolder opacity-7"> Estado </th>
                <td mat-cell *matCellDef="let row" [ngClass]="{ highlight: row.highlight }">
                  <button class="btn-status text-bold"
                    [ngClass]="{'yellow-background': row.estado === 'Pendiente', 'green-background': row.estado === 'Recibido'}">{{row.estado}}</button>
                </td>
              </ng-container>
              <!-- Checkbox Column -->
              <ng-container matColumnDef="select">
                <th mat-header-cell *matHeaderCellDef mat-sort-header
                  class="text-center text-uppercase text-secondary text-xs font-weight-bolder opacity-7"> Seleccionar
                </th>
                <td mat-cell *matCellDef="let row">
                  <div class="checkbox-container">
                    <mat-checkbox color="primary" [(ngModel)]="row.selected" [disabled]="row.estado === 'Recibido'"
                      [ngClass]="{'blocked': row.estado === 'Recibido'}"></mat-checkbox>
                  </div>
                </td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
              <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="5"> No hay datos que coincidan con el filtro "{{ input.value }}" </td>
              </tr>
            </table>

            <!-- Botón para cambiar estados seleccionados -->
            <button *ngIf="checkboxEnabled" (click)="updateSelectedStates()" class="btn btn-success mt-3">Marcar como
              recibido</button>
              
            <!-- Paginación -->
            <div *ngIf="existDonations" class="pb-2">
              <mat-paginator [pageSizeOptions]="[5, 10, 20]"></mat-paginator>
            </div>

          </div>

          <p class="small mt-3">Podés contactarte con los donadores haciendo click en el teléfono o en el correo electrónico.</p>


          <div class="row text-center mt-4">
            <div class="col-md-6 text-md-end text-center">
              <button (click)="exportAsExcel()" type="submit" class="btn btn-round bg-gradient-primary"><i class="fas fa-file-excel"></i> Descargar Excel</button>
            </div>
            <div class="col-md-6 text-md-start text-center">
              <button (click)="toggleCheckboxes()" class="btn btn-round bg-gradient-secondary">Editar estados</button>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>