<p>dashboard works!</p>

<div class="container mb-5">
    <h2>Donaciones</h2>
    <mat-form-field>
        <mat-label>Filter</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Ej. Zoe" #input>
    </mat-form-field>

    <div class="mat-elevation-z9">
        <div class="p-4">
            <table mat-table [dataSource]="dataSource" matSort>
    
                <!-- Name Column -->
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Donandor </th>
                    <td mat-cell *matCellDef="let row"> {{row.name}} </td>
                </ng-container>
    
                <!-- Telefono Column -->
                <ng-container matColumnDef="telefono">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Telefono </th>
                    <td mat-cell *matCellDef="let row"> {{row.telefono}} </td>
                </ng-container>
    
                <!-- Email Column -->
                <ng-container matColumnDef="email">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
                    <td mat-cell *matCellDef="let row"> {{row.email}} </td>
                </ng-container>
    
                <!-- Producto Column -->
                <ng-container matColumnDef="producto">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Producto </th>
                    <td mat-cell *matCellDef="let row"> {{row.producto}} </td>
                </ng-container>
    
                <!-- Cantidad Column -->
                <ng-container matColumnDef="cantidad">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Cantidad </th>
                    <td mat-cell *matCellDef="let row"> {{row.cantidad}} </td>
                </ng-container>
    
                <!-- Progress Column -->
                <ng-container matColumnDef="progress">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Estado </th>
                    <td mat-cell *matCellDef="let row" [ngClass]="{'yellow-background': row.progress === 'Pendiente', 'green-background': row.progress === 'Recibido'}"> {{row.progress}} </td>
                </ng-container>
    
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    
                <tr class="mat-row" *matNoDataRow>
                    <td class="mat-cell" colspan="4">No hay datos que coincidan con el filtro "{{input.value}}"</td>
                </tr>
            </table>
        </div>

        <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                 showFirstLastButtons
                 aria-label="Select page of periodic elements">
        </mat-paginator>
    </div>
</div>