<section>
  <div class="page-container min-vh-100">
    <div>
      <img class="position-absolute fixed-top ms-auto w-60 h-100 z-index-0 d-none d-sm-none d-md-block border-radius-section border-top-end-radius-0 border-top-start-radius-0 border-bottom-end-radius-0" src="../assets/img/a.png">
      <img class="position-absolute fixed-top ms-8 w-auto h-100 z-index-0 d-xl-none border-radius-section border-top-end-radius-0 border-top-start-radius-0 border-bottom-end-radius-0" src="../assets/img/a-mobile.png">
    </div>
    <div class="container">
      <div class="card blur justify-content-center shadow-lg mt-7 mb-5">
        <div class="row text-center mx-1 mt-4">
          <h2>Nuestra red de <span class="text-gradient text-secondary">organizaciones benéficas</span></h2>
        </div>
        <div class="card-body pb-2">
          <div class="row">
            <div class="col-lg-3 mb-4 d-flex">
              <div class="w-100">
                <div class="mb-4">
                  <h5>Seleccionar Provincia</h5>
                  <!--Por Provincia-->
                  <div>
                    <select 
                    class="form-control form-select form-select-lg" 
                    [(ngModel)]="provinceSelected" 
                    (change)="onProvinceChange()"
                    [disabled]="dataDirection !== null">
                      <option value="todas" selected>Todas las provincias</option>
                      <option *ngFor="let prov of provinces" [ngValue]="prov">{{prov.nombre}}</option>
                    </select>
                  </div>
                </div>
                <div class="mb-4">
                  <h5>Seleccionar Organización</h5>
                  <!--Por Tipo de Organización-->
                  <div>
                    <select class="form-control form-select form-select-lg" 
                    [(ngModel)]="selectedOrganization"
                    (change)="onOrganizationChange()"
                    [disabled]="dataDirection !== null">
                      <option value="todas" selected>Todas las organizaciones</option>
                      <option *ngFor="let org of organizations" [ngValue]="org">{{org.nombre}}</option>
                    </select>
                  </div>
                </div>
                <p class="small">Podés utilizar los filtros para ver todas las sedes de una organización en el país o en una provincia específica.</p>
              </div>
            </div>
            <div class="col-lg-9 mb-4 align-items-center">
              <div id="map" class="card" allowfullscreen="true" loading="lazy"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>