<section>
  <div class="page-container min-vh-100">
    <div>
      <img class="position-absolute fixed-top ms-auto w-60 h-100 z-index-0 d-none d-sm-none d-md-block border-radius-section border-top-end-radius-0 border-top-start-radius-0 border-bottom-end-radius-0" src="../assets/img/a.png">
      <img class="position-absolute fixed-top ms-8 w-auto h-100 z-index-0 d-xl-none border-radius-section border-top-end-radius-0 border-top-start-radius-0 border-bottom-end-radius-0" src="../assets/img/a-mobile.png">
    </div>
    <div class="container">
      <div class="card blur justify-content-center shadow-lg mt-7 mb-5 px-lg-4 pb-3">
        <div class="row text-center mx-1 mt-4">
          <h2>Mi <span class="text-gradient text-secondary">organización</span></h2>
        </div>
        <div class="card-body pb-2">
          <div class="row">
            <div class="col text-center">
              <p class="lead">Brindá detalles claros sobre tu misión, proyectos y necesidades para aumentar las donaciones.</p>
            </div>
          </div>

          <form [formGroup]="organizationForm" class="form-organizacion" (ngSubmit)="onSubmit()">
            <div class="row section-organization">
              <div class="col-lg-4">
                <div class="mb-3">
                  <label for="imagenUrl" class="form-label">Imagen URL</label>
                  <div *ngIf="imageSrc" class="imgUp text-center">
                    <img class="object-fit-cover imagePreview shadow border-radius-md backgroundImage" [src]="imageSrc" (error)="onError()"/>
                  </div>
                  <p class="info small pt-1 px-1">
                    Proporciona la URL del logo de tu organización para darte a conocer en reCrea.
                  </p>
                  <div class="d-flex justify-content-center text-center">
                    <input type="text" class="form-control" id="imagenUrl" formControlName="imageUrl" (input)="onImageUrlInput()">
                  </div>
                  <small *ngIf="organizationForm.controls['imageUrl']?.dirty && organizationForm.hasError('required', 'imageUrl')" class="text-danger">URL de imagen requerida</small>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="mb-3">
                  <label for="organizacion" class="form-label required">Organización</label>
                  <input id="organizacion" type="text" class="form-control opacity-class" formControlName="organizacion" maxlength="30" readonly />
                  <small *ngIf="organizationForm.controls['organizacion'].dirty && organizationForm.hasError('required', 'organizacion')" class="text-danger">Nombre de organización requerido</small>
                  <div class="d-flex justify-content-between px-1">
                    <p class="info small pe-1">
                      Este es el nombre que aparecerá en la portada de tu organización.
                    </p>
                    <p class="info small">
                      {{ getCharacterCount('organizacion', 30) }}
                    </p>
                  </div>
                </div>
                <div class="mb-3">
                  <label for="descripcionBreve" class="form-label required">Descripción breve</label>
                  <textarea id="descripcionBreve" class="form-control" formControlName="descripcionBreve" rows="5" maxlength="150"></textarea>
                  <small *ngIf="organizationForm.controls['descripcionBreve']?.dirty && organizationForm.hasError('required', 'descripcionBreve')" class="text-danger">Descripción breve requerida</small>
                  <div class="d-flex justify-content-between px-1">
                    <p class="info small pe-1">
                      Los usuarios pueden ver esta descripción en el directorio (Nuestra red).
                    </p>
                    <p class="info small">
                      {{ organizationForm.get('descripcionBreve')?.value.length }}/150
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-lg-10">
                <div class="mb-3">
                  <label for="descripcionCompleta" class="form-label required">Descripción completa</label>
                  <editor apiKey="mfpqww9xwy4b5gqm93lcdh0j7kmgkiy7yky9c3mna8ucvhj3" [init]="{
                    height: 280,
                    menubar: false,
                    plugins: ['advlist', 'autolink', 'lists', 'link', 'image', 'charmap', 'preview',
                      'anchor', 'searchreplace', 'visualblocks', 'code', 'fullscreen',
                      'insertdatetime', 'media', 'table', 'help', 'wordcount'],
                    toolbar: 'undo redo | fontsize |' +
                      'bold italic forecolor | alignleft aligncenter ' +
                      'alignright alignjustify | bullist numlist outdent indent | ' +
                      'removeformat | help',
                  }" [id]="uniqueId" formControlName="descripcionCompleta" rows="5" maxlength="4000"></editor>
                  <small *ngIf="organizationForm.controls['descripcionCompleta']?.dirty && organizationForm.hasError('required', 'descripcionCompleta')" class="text-danger">Descripción completa requerida</small>
                  <div class="d-flex justify-content-between px-1">
                    <p class="info small pe-1">
                      Los usuarios pueden ver esta descripción al hacer click en tu organización.
                    </p>
                    <p class="info small">
                      {{ organizationForm.get('descripcionCompleta')?.value.length }}/4000
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="d-flex justify-content-center pt-3">
                <button type="submit" class="btn btn-round bg-gradient-primary">
                  {{ isEditMode ? 'Actualizar información' : 'Publicar organización' }}
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
