.uploadFile{
  display: none;
}

.imagePreview {
  position: relative;
  width: 100%;
  height: 250px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.imgUp {
  position: relative;
}

#selectFile {
  margin-left: 0 !important;
}