<p>pedido-de-organizacion works!</p>

<div class="container">
    
    <div class="d-flex">
        <div class="col-lg-12">
            <div class="row g-3 d-flex justify-content-center p-4">
                <div class="col-md-3">
                    <mat-accordion class="example-headers-align" multi>
                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    Ropa y Vestimenta
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                        
                            <section class="example-section d-flex flex-column" [formGroup]="ropa_y_estimenta">
                                <mat-checkbox formControlName="camisetas">Camisetas</mat-checkbox>
                                <mat-checkbox formControlName="pantalones">Pantalones</mat-checkbox>
                                <mat-checkbox formControlName="chaquetas">Chaquetas</mat-checkbox>
                                <mat-checkbox formControlName="ropa_interior">Ropa interior</mat-checkbox>
                                <mat-checkbox formControlName="ropa_para_niños">Ropa para niños</mat-checkbox>
                            </section>
                                                      
                        </mat-expansion-panel>
                    </mat-accordion>

                </div>

                <div class="col-md-3">
                    <mat-accordion class="example-headers-align" multi>
                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    Personal data
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                    
                            <mat-form-field>
                                <mat-label>First name</mat-label>
                                <input matInput>
                            </mat-form-field>
                    
                            <mat-form-field>
                                <mat-label>Age</mat-label>
                                <input matInput type="number" min="1">
                            </mat-form-field>
                    
                        </mat-expansion-panel>
                        
                    </mat-accordion>

                </div>

                <div class="col-md-3">
                    <mat-accordion class="example-headers-align" multi>
                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    Personal data
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                    
                            <mat-form-field>
                                <mat-label>First name</mat-label>
                                <input matInput>
                            </mat-form-field>
                    
                            <mat-form-field>
                                <mat-label>Age</mat-label>
                                <input matInput type="number" min="1">
                            </mat-form-field>
                    
                        </mat-expansion-panel>
                        
                    </mat-accordion>

                </div>


            </div>



            <div class="row g-3 d-flex justify-content-center p-4">
                <div class="col-md-3">
                    <mat-accordion class="example-headers-align" multi>
                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    Personal data
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                    
                            <mat-form-field>
                                <mat-label>First name</mat-label>
                                <input matInput>
                            </mat-form-field>
                    
                            <mat-form-field>
                                <mat-label>Age</mat-label>
                                <input matInput type="number" min="1">
                            </mat-form-field>
                    
                        </mat-expansion-panel>
                        
                    </mat-accordion>

                </div>

                <div class="col-md-3">
                    <mat-accordion class="example-headers-align" multi>
                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    Personal data
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                    
                            <mat-form-field>
                                <mat-label>First name</mat-label>
                                <input matInput>
                            </mat-form-field>
                    
                            <mat-form-field>
                                <mat-label>Age</mat-label>
                                <input matInput type="number" min="1">
                            </mat-form-field>
                    
                        </mat-expansion-panel>
                        
                    </mat-accordion>

                </div>

                <div class="col-md-3">
                    <mat-accordion class="example-headers-align" multi>
                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    Personal data
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                    
                            <mat-form-field>
                                <mat-label>First name</mat-label>
                                <input matInput>
                            </mat-form-field>
                    
                            <mat-form-field>
                                <mat-label>Age</mat-label>
                                <input matInput type="number" min="1">
                            </mat-form-field>
                    
                        </mat-expansion-panel>
                        
                    </mat-accordion>

                </div>


            </div>




        </div>
    
    </div>
    
</div>


