#necesitamos {
    color: var(--color-primary);
}


.formulario {
    padding-bottom: 20%;
}

.formulario  {
    background-image: url('../../../assets/images/5.jpg');
   background-attachment: fixed;
   background-position: center center;
   background-size: cover; 
   
}