<section>
    <div class="page-header min-vh-100">
      <div>
        <img class="position-absolute fixed-top ms-auto w-50 h-100 z-index-0 d-none d-sm-none d-md-block border-radius-section border-top-end-radius-0 border-top-start-radius-0 border-bottom-end-radius-0" src="../assets/img/curved-images/curved8.jpg" alt="image">
      </div>
      <div class="container">
        <div class="card d-flex blur justify-content-center shadow-lg my-sm-0 my-sm-6 mt-8 mb-5 ">
          <div class="col-8 text-center mx-auto">
            <h1 class="pt-3 mb-4">{{organization?.nombre}}</h1>
          </div>
          <div class="card-body pt-0">
            <div class="d-flex row">
              <div class="col-md-6">
                <div class="d-flex align-items-center justify-content-center pt-3">
                  <img ngClass="organizacion_img" src="{{organization?.infoOrganizacion.img}}" class="w-75 card-img-top">
                </div>
              </div>
              <div class="col-md-6 organizacion_contenido pt-4 px-4">
                <div [innerHTML]="safeContent"></div>
                <div class="necesidades pt-5">
                  <p class="necesidades-p">Necesidades</p>
                  <div class="row pt-3">
                    <div class="col d-flex align-items-center">
                      <div class="me-3">
                        <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAAACXBIWXMAAAsTAAALEwEAmpwYAAACNElEQVR4nO2XMWtUQRDHX0BBKwub2NoIFrG4RoTczLtoZQQt3sxDCXZ22tskKbWzCMQPoF8gaYSQm80JmiJfIEXSiImpBAtTHHoyZxIu6+3thrzcRZgfDDzu7fz3P7szd1yWGYZh/FdMrTy8iq58AY4/gKNv6LiNjjt1Vz5K1dC1moN/c3e7WkLPVfvMjIM8vYSOZ1H4x8HmfnzPV4sbMR1do2v7akhXe1b3qtg8T4PQVsB4T9CXvFnUguabRU3XxHRAaEv3PLXxqY+Pr6PwUtz4sWiD8Nt8je/cXSmuaOizfnbYbskhvKQeTmz89qfiMjqaQ0f7gRPaA6GXjVZxEx0vnrDA3lhUDdVSzcCt7qsX9ZRkvu7owYB2aYPQGz3Vo4RONgbCr1H4d6pxEPoFQq8091BGNVU7dEvqSb1FC0Chnf7XSa1Gq5wYUHgOQpsJ5jdBGEM6jVY5oXsFPOzEC3C07CXugvBM72kF6WRjdVfeA6H3KLyNwj8PYhuE3+m7VB0QntG9vXZajuaC8Lx3YgvZiAChBa+AuYQknvZu4PNQ3PYBHK0f89Is78eTpBj3vwVqG88uZkMGBC5026/Hy+Tak2tJyf4gDxresyJfpVteK39NTu4zyP9E1YYx4UctWcwf5HNRgEsY4AGDPPoCmgkDHB7k0RcwmTrAqRtU5nxI+lZADLQbiGAzEAGthSJYC0VAa6EI1kIR0FoogrVQBLQWOvVfvmojqxorwNkNGIZhZOePP5q++Plr2AVBAAAAAElFTkSuQmCC">
                      </div>
                      <span>Ropa y vestimenta</span>
                    </div>
                  </div>
                </div>
                <div class="d-flex justify-content-center pt-5">
                  <button (click)="openDialog()" class="btn btn-lg bg-gradient-secondary">Hace la diferencia</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>