<div class="d-flex justify-content-center pb-3 pt-5">
    <h1>{{organization?.nombre}}</h1>
</div>

<div class="container pt-5 pb-5">
    <div class="d-flex row">
        <div class="col-md-6">
            <div class="h-75 d-flex align-items-start justify-content-center">
                <img ngClass="organizacion_img" src="{{organization?.infoOrganizacion.img}}">
            </div>
        </div>

        <div class="col-md-6 organizacion_contenido">
            <div [innerHTML]="safeContent"></div>

            <div *ngIf="!needs.empty" class="necesidades pt-5">
                <p class="necesidades-p">Necesidades</p>
                <div class="row flex-column pt-3">
                    <div *ngFor="let need of needs" class="col">
                        <div class="d-flex align-items-start g-2">
                            <div class="me-3">
                                <img [src]="need.icono" alt="{{need.nombre}}">
                            </div>
                            <div>
                                <span>{{need.nombre}}</span>
                                <ul>
                                    <li *ngFor="let sub of need.subcategoria">{{sub.nombre}}</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="d-flex justify-content-center pt-5">
                <button (click)="openDialog()" class="btn btn-primary w-100">Hace la diferencia</button>
            </div>
        </div>
    </div>
</div>