<div *ngIf="loading" class="loading-container">
  <div class="spinner"></div>
</div>

<section *ngIf="!loading">
  <div class="page-container min-vh-100">
    <div>
      <img class="position-absolute fixed-top ms-auto w-60 h-100 z-index-0 d-none d-sm-none d-md-block border-radius-section border-top-end-radius-0 border-top-start-radius-0 border-bottom-end-radius-0" src="../assets/img/a.png">
      <img class="position-absolute fixed-top ms-8 w-auto h-100 z-index-0 d-xl-none border-radius-section border-top-end-radius-0 border-top-start-radius-0 border-bottom-end-radius-0" src="../assets/img/a-mobile.png">
    </div>
    <div class="container">
      <div class="card blur justify-content-center shadow-lg mt-7 mb-5 px-lg-4 pb-3">
        <div class="row text-center mx-1 mt-4">
          <h2>¿Qué <span class="text-gradient text-secondary">necesita mi organización</span>?</h2>
        </div>
        <div class="card-body pb-2">
          <div class="row g-3 d-flex justify-content-center pb-4" *ngFor="let need of needs">
            <div class="col-12 col-md-6">
              <mat-accordion multi>
                <mat-expansion-panel>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      {{ need.nombre }}
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <section class="d-flex flex-column" [formGroup]="formGroups[need.nombre]">
                      <mat-checkbox color="primary" *ngFor="let subcategory of need.subcategoria" formControlName="{{ subcategory.nombre }}">
                        {{ subcategory.nombre }}
                      </mat-checkbox>
                  </section>
                </mat-expansion-panel>
              </mat-accordion>
            </div>
          </div>
          <div class="text-center justify-content-center align-items-center">
            <button (click)="saveNeeds()" type="button" class="btn btn-round bg-gradient-primary">Guardar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>