<div class="container mt-5">
  <div class="d-flex justify-content-center pb-5">
    <h1>Organizaciones <span id="beneficas">Benéficas</span></h1>
  </div>
  <div class="row">
    <!-- comienzo -->
    <div
      *ngFor="let org of organizations"
      class="col-lg-3 col-md-4 col-sm-6 col-xs-12"
    >
      <div class="titulo">
        <div class="wrapper">
          <div class="banner-img">
            <img src="{{ org.infoOrganizacion.img }}" alt="{{ org.nombre }}" />
          </div>
          <div class="texto">
            <h4 class="card-title">{{ org.nombre }}</h4>
            <br />
            <p class="card-text">
              {{ org.infoOrganizacion.descripcionBreve }}
            </p>
          </div>
          <div class="d-flex justify-content-center btnFooter">
            <button
              (click)="seeDetail(org)"
              class="btn py-2 btn-block"
              id="btnMasInfo"
            >
              Ver Más
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- fin -->
  </div>
  <div class="d-flex justify-content-center" *ngIf="showSeeMore">
    <button (click)="loadMore()" class="btn btn-primary">Ver más</button>
  </div>
</div>
