.section-idea{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 4rem;
}


.section-title{
    margin: 2rem 0rem;
}

swiper-container {
  width: 100%;
  height: 100%;
  margin: 4rem 0rem;
  display: flex;
  flex-direction: column;
  gap: 60px;
}

swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}


.img-fluid{
    width: 100%;
    height: 100%;
}

.section-buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    flex-direction: row;
}