<div class="section-form">
  <div class="section-title">
    <h2 class="title-edit">Información de la Organización</h2>
    <p class="info">Por favor, llena todos los campos a continuación con la información de tu organización. 
      Una vez que hayas completado tu perfil, tu organización será visible en la sección de donaciones de nuestro sitio web. 
      Esto permitirá a los usuarios conocer más sobre tu misión, proyectos y necesidades, y así podrán elegir donar productos hechos de tela reciclada a tu organización
      .Asegúrate de proporcionar detalles claros y precisos para maximizar las oportunidades de recibir donaciones.
      ¡Gracias por ser parte de nuestra comunidad!</p>
  </div>

  <form
    [formGroup]="organizationForm"
    class="form-organizacion"
    enctype="multipart/form-data"
  >
        <div class="mb-3">
          <label for="organizacion" class="form-label required"
            >Organización</label
          >
          <input
            id="organizacion"
            type="text"
            class="form-control"
            formControlName="organizacion"
            maxlength="30"
          />
          <small
            *ngIf="
              organizationForm.controls['organizacion'].dirty &&
              organizationForm.hasError('required', 'organizacion')
            "
            class="text-danger"
            >Nombre de Organizacion requerido</small
          >
          <div class="section-detail">
            <p class="info">
              Este es el nombre que aparecera en la portada de tu organización
            </p>
            <div class="form-text">
              {{ getCharacterCount("organizacion", 30) }}
            </div>
          </div>
        </div>

        <div class="mb-3">
          <label for="descripcionBreve" class="form-label required"
            >Descripción Breve</label
          >
          <textarea
            id="descripcionBreve"
            class="form-control"
            formControlName="descripcionBreve"
            rows="3"
            maxlength="150"
          ></textarea>
          <small
            *ngIf="
              organizationForm.controls['descripcionBreve']?.dirty &&
              organizationForm.hasError('required', 'descripcionBreve')
            "
            class="text-danger"
            >Descripción breve requerida</small
          >

          <div class="section-detail">
            <p class="info">
              Breve descripción de tu organización. Los usuarios pordran<br />informarse
              sobre ella
            </p>
            <div class="form-text">
              {{ organizationForm.get("descripcionBreve")?.value.length }}/150
            </div>
          </div>
        </div>

        <div class="mb-3">
          <label for="descripcionCompleta" class="form-label required"
            >Descripción Completa</label
          >
          <textarea
            id="descripcionCompleta"
            class="form-control"
            formControlName="descripcionCompleta"
            rows="5"
            maxlength="4000"
          ></textarea>
          <small
            *ngIf="
              organizationForm.controls['descripcionCompleta']?.dirty &&
              organizationForm.hasError('required', 'descripcionCompleta')
            "
            class="text-danger"
            >Descripción Completa requerida</small
          >

          <div class="section-detail-complete">
            <div class="form-text">
              {{
                organizationForm.get("descripcionCompleta")?.value.length
              }}/4000
            </div>
          </div>
        </div>

        <div class="mb-3">
          <label for="imagen" class="form-label">Imagen</label>
          <p class="info">
            Cargá el logo de tu organización para promocionarla en ReCrea.<br />Revisa
            toda tu información antes de públicarla.
          </p>
          <div>
            <div *ngIf="imageSrc" class="mb-2">
              <img
                [src]="imageSrc"
                alt="Vista previa de la imagen"
                [style.width.px]="200"
              />
            </div>
            <input
              type="file"
              (change)="onFileSelected($event)"
              accept="image/*"
              formControlName="file"
            />
          </div>
          <small
            *ngIf="
              organizationForm.controls['file']?.dirty &&
              organizationForm.hasError('required', 'file')
            "
            class="text-danger"
            >Imagen Requerida</small
          >
        </div>

        <div class="section-btn">
          <button
            (click)="onSubmit()"
            type="submit"
            class="btn btn-primary mt-3"
          >
            Publicar
          </button>
        </div>
  </form>
</div>
