
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#"><img src="assets/logos/ReCrea.svg"></a>
        <div class="d-flex gap-2 align-items-center">
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="nav-link d-lg-none d-block" href="#">
                <span class="fa fa-shopping-cart"></span>
            </a>
        </div>
        <div class="offcanvas offcanvas-end" id="navbarNav" aria-labelledby="navbarNavLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="navbarNavLabel">Menú</h5>
                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body d-lg-flex justify-content-between">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="#">Tienda</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/generar-ideas">Generar ideas</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/donaciones">Donaciones</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/ubicaciones">Ubicaciones</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav">
                        <li *ngIf="!isLoggedIn" class="nav-item">
                            <a class="nav-link" routerLink="/login">
                                <span class="fa fa-user"></span>
                                Ingresar
                            </a>
                        </li>
                        <li *ngIf="isLoggedIn" class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <span class="fa fa-user"></span> Hola, {{fullName}}
                            </a>
                            <ul class="dropdown-menu">
                              <li><a class="dropdown-item" href="#">Mi Perfil</a></li>
                              <li><a class="dropdown-item" href="#">Mis Ideas</a></li>
                              <li (click)="logout()"><a class="dropdown-item">Cerrar Sesión</a></li>
                            </ul>
                        </li>
                        <li class="nav-item d-none d-lg-block">
                            <a class="nav-link" href="#">
                                <span class="fa fa-shopping-cart"></span>
                            </a>
                        </li>
                    </ul>
            </div>
        </div>
    </div>
</nav>