<div class="container position-sticky z-index-sticky top-0">
    <div class="row">
      <div class="col-12">
        <nav class="navbar navbar-expand-lg  blur blur-rounded top-0 z-index-fixed shadow position-absolute my-3 py-2 start-0 end-0 mx-4">
          <div class="container-fluid px-0">
            <a class="navbar-brand font-weight-bolder ms-sm-3" href="#">
              <img src="assets/logos/reCrea-navbar.svg">
            </a>
            <button class="navbar-toggler shadow-none ms-2" type="button" data-bs-toggle="collapse" data-bs-target="#navigation" aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon mt-2">
                <span class="navbar-toggler-bar bar1"></span>
                <span class="navbar-toggler-bar bar2"></span>
                <span class="navbar-toggler-bar bar3"></span>
              </span>
            </button>
            <div class="collapse navbar-collapse pt-3 pb-3 py-lg-0 w-100 my-sm-0 mb-3" id="navigation">
              <ul *ngIf="!isLoggedIn || (isLoggedIn && role == 'usuario')" class="navbar-nav navbar-nav-hover w-100 gap-2">
                <li class="nav-item dropdown dropdown-hover">
                  <a class="nav-link ps-2 d-flex justify-content-between cursor-pointer align-items-center font-weight-bold" routerLink="/generar-ideas" routerLinkActive="active-link">Generar ideas</a>
                </li>
                <li class="nav-item dropdown dropdown-hover">
                  <a class="nav-link ps-2 d-flex justify-content-between cursor-pointer align-items-center font-weight-bold" routerLink="/donar" routerLinkActive="active-link">Donar</a>
                </li>
                <li class="nav-item dropdown dropdown-hover">
                  <a class="nav-link ps-2 d-flex justify-content-between cursor-pointer align-items-center font-weight-bold" routerLink="/ubicaciones" (click)="clearDataDirection()" routerLinkActive="active-link">Nuestra red</a>
                </li>
              </ul>
              <ul *ngIf="role == 'organizacion' && isLoggedIn" class="navbar-nav navbar-nav-hover w-100">
                <li class="nav-item dropdown dropdown-hover">
                  <a class="nav-link ps-2 d-flex justify-content-between cursor-pointer align-items-center font-weight-bold" routerLink="/dashboard" routerLinkActive="active-link">Dashboard</a>
                </li>
                <li class="nav-item dropdown dropdown-hover">
                  <a class="nav-link ps-2 d-flex justify-content-between cursor-pointer align-items-center font-weight-bold" routerLink="/mi-organizacion" routerLinkActive="active-link">Mi organización</a>
                </li>
                <li class="nav-item dropdown dropdown-hover">
                  <a class="nav-link ps-2 d-flex justify-content-between cursor-pointer align-items-center font-weight-bold" routerLink="/necesidades" routerLinkActive="active-link">Necesidades</a>
                </li>
                <li class="nav-item dropdown dropdown-hover">
                  <a class="nav-link ps-2 d-flex justify-content-between cursor-pointer align-items-center font-weight-bold" routerLink="/sedes" routerLinkActive="active-link">Mis sedes</a>
                </li>
              </ul>
              <ul class="navbar-nav navbar-nav-hover">
                <li *ngIf="!isLoggedIn" class="nav-item ms-lg-auto">
                  <a class="btn btn-round btn-sm btn-outline-secondary mb-0 me-1 mt-2 mt-md-0 d-inline-flex align-items-center gap-2" routerLink="/login" routerLinkActive="active-link">
                    <span class="fa fa-user"></span> Ingresar </a>
                </li>
                <li *ngIf="isLoggedIn" class="nav-item dropdown">
                  <a class="btn btn-round btn-sm btn-outline-secondary mb-0 me-1 mt-2 mt-md-0 dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <span class="fa fa-user"></span> Hola, {{fullName}}
                  </a>
                  <ul class="dropdown-menu" style="overflow: hidden;">
                    <li *ngIf="role == 'usuario'">
                      <a class="dropdown-item" href="/mi-cuenta" routerLinkActive="active-link">Mi cuenta</a>
                    </li>
                    <li *ngIf="role == 'organizacion'">
                      <a class="dropdown-item" routerLink="/mis-datos" routerLinkActive="active-link">Mis datos</a>
                    </li>
                    <li *ngIf="role == 'usuario'">
                      <a class="dropdown-item" routerLink="/mis-ideas" routerLinkActive="active-link">Mis ideas</a>
                    </li>
                    <li *ngIf="role == 'organizacion'">
                      <a class="dropdown-item" routerLink="/mi-organizacion" routerLinkActive="active-link">Mi organización</a>
                    </li>
                    <li (click)="logout()">
                      <a class="dropdown-item">Salir</a>
                    </li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </div>
    </div>
</div>

