{
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  },
  "AllowedHosts": "*",
  "ConnectionStrings": {
    "DefaultConnection": "Host=localhost;Database=lgtm;Username=postgres;Password=[CAMBIAR_PASSWORD]"
  },
  "GoogleMapsApiKey": "[API-KEY]",
  "GroqApiConfig": {
    "ApiKey": "[API-KEY]",
    "RequestUri": "https://api.groq.com/openai/v1/chat/completions",
    "LlmModel": "[LLM]" // [llama3-8b-8192]/[gemma-7b-it]
  }
}
