.newModal{
    --bs-modal-width: 700px;
    --bs-modal-padding: 4%;
    --bs-modal-border-width: 0px;
}

#donaciones{
    color: var(--color-primary);
}

.organizacion_img{
    width: 100%;
    padding: 0 6rem;
}

.necesidades-p{
    font-size: 18px;
    font-weight:600;
}

.btn-primary {
    border-color: transparent;
    outline: none;
    border-radius: 8px;
    font-size: 15px;
    padding: 10px 25px;
    box-shadow: 0px 4px 6px 2px rgba(0, 0, 0, 0.2);
}

.modal-header{
    border-bottom: none;
}

.modal-footer{
    border-top: none;
}