<div class="d-flex justify-content-center pb-3 pt-5">
    <h1>{{organizacion?.nombre}}</h1>
</div>

<div class="container pt-5 pb-5">
    <div class="d-flex row">
        <div class="col-md-6">
            <div class="h-75 d-flex align-items-start justify-content-center">
                <img ngClass="organizacion_img" src="{{organizacion?.infoOrganizacion.img}}">
            </div>
        </div>
    
        <div class="col-md-6 organizacion_contenido">
            <div  [innerHTML]="safeContent"></div>
    
            <div class="necesidades pt-5">
                <p class="necesidades-p">Necesidades</p>
                <div class="row pt-3">
                    <div class="col d-flex align-items-center">
                        <div class="me-3">
                            <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAAACXBIWXMAAAsTAAALEwEAmpwYAAACNElEQVR4nO2XMWtUQRDHX0BBKwub2NoIFrG4RoTczLtoZQQt3sxDCXZ22tskKbWzCMQPoF8gaYSQm80JmiJfIEXSiImpBAtTHHoyZxIu6+3thrzcRZgfDDzu7fz3P7szd1yWGYZh/FdMrTy8iq58AY4/gKNv6LiNjjt1Vz5K1dC1moN/c3e7WkLPVfvMjIM8vYSOZ1H4x8HmfnzPV4sbMR1do2v7akhXe1b3qtg8T4PQVsB4T9CXvFnUguabRU3XxHRAaEv3PLXxqY+Pr6PwUtz4sWiD8Nt8je/cXSmuaOizfnbYbskhvKQeTmz89qfiMjqaQ0f7gRPaA6GXjVZxEx0vnrDA3lhUDdVSzcCt7qsX9ZRkvu7owYB2aYPQGz3Vo4RONgbCr1H4d6pxEPoFQq8091BGNVU7dEvqSb1FC0Chnf7XSa1Gq5wYUHgOQpsJ5jdBGEM6jVY5oXsFPOzEC3C07CXugvBM72kF6WRjdVfeA6H3KLyNwj8PYhuE3+m7VB0QntG9vXZajuaC8Lx3YgvZiAChBa+AuYQknvZu4PNQ3PYBHK0f89Is78eTpBj3vwVqG88uZkMGBC5026/Hy+Tak2tJyf4gDxresyJfpVteK39NTu4zyP9E1YYx4UctWcwf5HNRgEsY4AGDPPoCmgkDHB7k0RcwmTrAqRtU5nxI+lZADLQbiGAzEAGthSJYC0VAa6EI1kIR0FoogrVQBLQWOvVfvmojqxorwNkNGIZhZOePP5q++Plr2AVBAAAAAElFTkSuQmCC">                    
                        </div>
                        <span>Ropa y vestimenta</span>
                    </div>
                </div>
            </div>
            
            <div class="d-flex justify-content-center pt-5">
                <button class="btn btn-primary w-100" data-bs-toggle="modal" data-bs-target="#popupDonar">Hace la diferencia</button>
            </div>
        </div>
    </div>    
</div>

<!-- popup -->
<div class="modal newModal fade" id="popupDonar" tabindex="-1" aria-labelledby="popupDonarLabel" aria-hidden="true">
    <div class="modal-dialog h-75 d-flex align-items-center justify-content-center">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body ">
                <div class="text-center pb-5">
                    <h3>Formulario de <span id="donaciones">Donaciones</span></h3>
                </div>
                <div class="d-flex">
                    <form [formGroup]='donarForm' (ngSubmit)="enviarFormDonacion()">
                        <div class="col-lg-12">
                            <div class="row g-3">
                                <div class="col-md-6">
                                    <label for="nombre" class="form-label required">Nombre</label>
                                    <input type="text" class="form-control input-field" [class.error]="fm['nombre'].dirty && fm['nombre'].errors" id="nombre" name="nombre" placeholder="Ej: Julieta" formControlName="nombre">
                                    <small *ngIf="fm['nombre'].dirty && fm['nombre'].errors" class="text-danger">El nombre es requerido</small>
                                </div>
                                <div class="col-md-6">
                                    <label for="apellido" class="form-label required">Apellido</label>
                                    <input type="text" class="form-control input-field" [class.error]="fm['apellido'].dirty && fm['apellido'].errors" id="apellido" name="apellido" placeholder="Ej: Gomez" required formControlName="apellido" >
                                    <small *ngIf="fm['apellido'].dirty && fm['apellido'].errors" class="text-danger">El apellido requerido</small>
                                </div>
                                <div class="col-md-6">
                                    <label for="telefono" class="form-label d-flex align-items-center required">Teléfono </label>
                                    <input type="number" class="form-control input-field" [class.error]="fm['telefono'].dirty && fm['telefono'].errors" id="telefono" name="telefono" placeholder="Ej: 123456789" required formControlName="telefono">
                                    <small *ngIf="fm['telefono'].dirty && fm['telefono'].errors" class="text-danger">El número de telefono requerido</small>
                                </div>
                                <div class="col-md-6">
                                    <label for="email" class="form-label d-flex align-items-center required">Email</label>
                                    <input type="email" class="form-control input-field" [class.error]="fm['email'].dirty && fm['email'].errors" id="email" name="email" placeholder="ejemplo@email.com" required formControlName="email">
                                    <small *ngIf="fm['email'].dirty && fm['email'].errors" class="text-danger">El email es requerido</small>
                                </div>
                                <div class="col-md-6">
                                    <label for="producto" class="form-label d-flex align-items-center required">Producto </label>
                                    <input type="text" class="form-control input-field" [class.error]="fm['producto'].dirty && fm['producto'].errors" id="producto" name="producto" placeholder="Ej: Mantas" required formControlName="producto">
                                    <small *ngIf="fm['producto'].dirty && fm['producto'].errors" class="text-danger">El producto requerido</small>
                                </div>
                                <div class="col-md-6">
                                    <label for="cantidad" class="form-label d-flex align-items-center required">Cantidad</label>
                                    <input type="number" class="form-control input-field" [class.error]="fm['cantidad'].dirty && fm['cantidad'].errors" id="cantidad" name="cantidad" placeholder="Ej: 2" required formControlName="cantidad">
                                    <small *ngIf="fm['cantidad'].dirty && fm['cantidad'].errors" class="text-danger">La cantidad es requerido</small>
                                </div>
    
                            </div>
                        </div>
    
                        <div class="d-flex justify-content-center pt-4">
                            <button (click)="donar()" class="btn btn-primary w-100">Donar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>