<div *ngIf="loading" class="loading-container">
  <div class="spinner"></div>
</div>

<section *ngIf="!loading">
  <div class="page-container min-vh-100">
    <div>
      <img class="position-absolute fixed-top ms-auto w-60 h-100 z-index-0 d-none d-sm-none d-md-block border-radius-section border-top-end-radius-0 border-top-start-radius-0 border-bottom-end-radius-0" src="../assets/img/a.png">
      <img class="position-absolute fixed-top ms-8 w-auto h-100 z-index-0 d-xl-none border-radius-section border-top-end-radius-0 border-top-start-radius-0 border-bottom-end-radius-0" src="../assets/img/a-mobile.png">
    </div>
    <div class="container">
      <div class="card blur justify-content-center shadow-lg mt-7 mb-5 px-lg-4 pb-3">
        <div class="row text-center mx-1 mt-4">
          <h2>Mis <span class="text-gradient text-secondary">ideas</span></h2>
        </div>
        <!--==================== SI NO HAY IDEAS SE MUESTRA EL CARTEL ====================-->
        <div *ngIf="!data || data.length === 0">
          <div class="card-body pb-2">
            <div class="row">
              <div class="col text-center justify-content-center">
                <p class="lead mt-3">Todavía no hay ideas guardadas.<br />¡Es hora de aprovechar nuestra <span class="text-gradient text-secondary text-bold">IA de generación de ideas</span> para darle un nuevo propósito a tus retazos de tela!</p>
              </div>
            </div>
            <div class="text-center justify-content-center align-items-center">
              <button routerLink="/generar-ideas" class="btn btn-round bg-gradient-primary mt-4">Generar idea</button>
            </div>
          </div>
        </div>

        <div class="card-body pb-2">
          <div class="row">
            <div *ngFor="let item of data" class="col-lg-3 col-md-4 col-sm-6 d-grid g-3">
              <div class="card pb-2 h-100">
                <div class="text-center">
                  <img class="card-img-top" [src]="item.imageUrl">
                </div>
                <div class="position-relative" style="height: 50px;overflow: hidden;margin-top: -50px;z-index:2;position: relative;">
                  <div class="position-absolute w-100 top-0" style="z-index: 1;">
                    <svg class="waves waves-sm" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 40" preserveAspectRatio="none" shape-rendering="auto">
                      <defs>
                        <path id="card-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z"></path>
                      </defs>
                      <g class="moving-waves">
                        <use xlink:href="#card-wave" x="48" y="-1" fill="rgba(255,255,255,0.30"></use>
                        <use xlink:href="#card-wave" x="48" y="3" fill="rgba(255,255,255,0.35)"></use>
                        <use xlink:href="#card-wave" x="48" y="5" fill="rgba(255,255,255,0.25)"></use>
                        <use xlink:href="#card-wave" x="48" y="8" fill="rgba(255,255,255,0.20)"></use>
                        <use xlink:href="#card-wave" x="48" y="13" fill="rgba(255,255,255,0.15)"></use>
                        <use xlink:href="#card-wave" x="48" y="16" fill="rgba(255,255,255,0.99)"></use>
                      </g>
                    </svg>
                  </div>
                </div>
                <div class="card-body pb-0 text-center">
                  <p class="text-bold">
                    {{item.titulo}}
                  </p>
                </div>
                
                <div class="d-flex justify-content-center">
                  <button class="btn btn-round btn-sm bg-gradient-secondary mb-2 w-80" (click)="seeDetail(item)">Ver idea</button>
                </div>
                <div class="d-flex justify-content-center">
                  <button class="btn btn-round btn-sm bg-gradient-danger w-80" (click)="deleteIdea(item.id)">Eliminar</button>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>