<div *ngIf="loading" class="loading-container">
  <div class="spinner"></div>
</div>

<div class="ideas-container" *ngIf="!loading">
    <div class="header">
      <h2>Mis Ideas</h2>
    </div>
    <div class="ideas-list">
      <div *ngIf="!data || data.length === 0" class="empty-ideas">
        <div class="section-empty">
          <p class="idea-empty">¡Es hora de darle un nuevo propósito a tu tela de reciclaje! Te animamos a aprovechar al máximo este recurso y generar una idea innovadora. Nuestra IA está aquí para ayudarte a encontrar la inspiración perfecta.</p>
          <a class="genera-idea" routerLink="/generar-ideas">Generar Idea</a>
        </div>
        <img class="reciclar" src="assets/images/reciclar.jpg" alt="empty-ideas" />
      </div>
      <div *ngFor="let item of data" class="idea-item">
        <div class="idea-header">
          <h5>{{item.titulo}}</h5>
          <div class="buttons">
            <button (click)="seeDetail(item)">Ver detalle</button>
            <button (click)="deleteIdea(item.id)">Eliminar</button>
          </div>
        </div>
      </div>
    </div>
  </div>