.form-inline label{
    padding-left: 10px;
    margin: 0;
    cursor: pointer;
}

.btn-google{
    background-color: var(--color-light-grey)!important;
    border-color: var(--color-dark-grey)!important;
}

.btn{
    margin-top: 20px;
    border-radius: 4px!important;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.btn-login{
    text-transform: uppercase;
    letter-spacing: .5px;
}

.panel{
    min-height: 300px;
    margin-top: 2rem;
    margin-bottom: 7rem;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 1rem 2rem 1.5rem;
}

.panel h2{
    font-style: normal;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: .1px;
    color: #252b42;
    font-weight: 700;
}

.text-muted{
    padding: .5rem 0;
    font-style: normal;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: .1px;
    color: var(--color-dark-grey);
    font-weight: 400;
}
.account{
    padding: .5rem 0;
    font-style: normal;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: .1px;
    color: var(--color-dark-grey);
    font-weight: 400;
}

.recovery-pass{
    font-style: normal;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: .1px;
    color: var(--color-dark-grey);
    font-weight: 400;
}

.input-field{
    border-radius: 6px;
    padding: 12px;
    display: flex;
    align-items: center;
    cursor:pointer;
    border:1px solid #ddd;
}

input[type='text'],
input[type='email'],
input[type='password']{
    border:none;
    outline: none;
    box-shadow: none;
    width: 100%;
}

.fa-eye-slash.btn{
    border: none;
    outline: none;
    box-shadow: none;
}
.fa-eye:before, 
.fa-eye-slash:before{
    color: #757575;
}

.form-group label{
    font-style: normal;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: .2px;
    color: var(--color-dark-grey);
    font-weight: 700;
}

.input-field input{
    font-style: normal;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: .2px;
    color: #737373;
    font-weight: 400;
}