.section-buttons{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  flex-direction: row;
}

.dificultad{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-direction: row;
}

.easy {
  background-color: var(--color-primary);;
  color: white;
  padding: 0 .5rem;
  border-radius: 2px;
}

.medium {
  background-color: var(--color-secondary);;
  color: white;
  padding: 0 .5rem;
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hard {
  background-color: red;
  color: white;
  padding: 0 .5rem;
  border-radius: 2px;
}

.imagen-idea {
  display: flex;
  align-items: center;
}