<div class="section-idea">
  <div class="section-back">
    <a class="mis-ideas" routerLink="/mis-ideas">
      <img class="back" src="assets/images/back.svg" alt="back" />
      Volver</a
    >
  </div>
  <div class="section-title">
    <h1 class="title-idea">{{ idea.titulo }}</h1>
  </div>

  <p *ngIf="idea.dificultad === 'Facil' || idea.dificultad === 'Fácil' " class="dificultad">
    Dificultad: <span class="easy">{{ idea.dificultad }}</span>
  </p>
  <p *ngIf="idea.dificultad === 'Media'" class="dificultad">
    Dificultad: <span class="medium">{{ idea.dificultad }}</span>
  </p>
  <p *ngIf="idea.dificultad === 'Dificil' || idea.dificultad === 'Difícil'" class="dificultad">
    Dificultad: <span class="hard">{{ idea.dificultad }}</span>
  </p>

  <div class="section-data">
    <swiper-container
      direction="horizontal"
      pagination="true"
      pagination-type="fraction"
    >
      <swiper-slide *ngFor="let step of idea.pasos">
        <div class="card mb-3" style="max-width: 540px">
          <div class="row g-0">
            <div class="col-md-4">
              <img
                src="https://media.istockphoto.com/id/1226328537/es/vector/soporte-de-posici%C3%B3n-de-imagen-con-un-icono-de-c%C3%A1mara-gris.jpg?s=612x612&w=0&k=20&c=8igCt_oe2wE-aP0qExUDfwicSNUCb4Ho9DiKCq0rSaA="
                class="img-fluid rounded-start"
                alt="..."
              />
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <p class="card-text">{{ step.descripcion }}</p>
              </div>
            </div>
          </div>
        </div>
      </swiper-slide>
    </swiper-container>

    <div class="section-btn">
      <button class="pdf" (click)="downloadPDF()">
        <img class="pdf-img" src="assets/images/pdf.svg" alt="pdf" />
        Descargar PDF
      </button>
    </div>
  </div>
</div>
