.section-buttons{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  flex-direction: row;
}

.dificultad{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-direction: row;
}

.easy {
  background-image: linear-gradient(310deg, #CBE5A8 0%, #8BC53F 100%);
  color: white;
  border-radius: 1rem;
  padding-inline: 10px;
}

.medium {
  background-image: linear-gradient(310deg, #A4C2DB 0%, #4281A4 100%);
  color: white;
  border-radius: 1rem;
  padding-inline: 10px;
}

.hard {
  background-image: linear-gradient(310deg, #DD7A7A 0%, #A42A2A 100%);
  color: white;
  border-radius: 1rem;
  padding-inline: 10px;
}

.imagen-idea {
  display: flex;
  align-items: center;
}