<section>
  <div class="page-container min-vh-100">
    <div>
      <img class="position-absolute fixed-top ms-auto w-60 h-100 z-index-0 d-none d-sm-none d-md-block border-radius-section border-top-end-radius-0 border-top-start-radius-0 border-bottom-end-radius-0" src="../assets/img/a.png">
      <img class="position-absolute fixed-top ms-8 w-auto h-100 z-index-0 d-xl-none border-radius-section border-top-end-radius-0 border-top-start-radius-0 border-bottom-end-radius-0" src="../assets/img/a-mobile.png">
    </div>
    <div class="container">
      <div class="card blur justify-content-center shadow-lg mt-7 mb-5 px-lg-4 pb-3">
        <div class="row text-center mx-1 mt-4">
          <h2>Editá tu <span class="text-gradient text-secondary">sede</span></h2>
        </div>
        <div class="card-body pb-2 pt-0">
          <form class="my-4" [formGroup]="headquartersForm" >
            <div class="row g-3">
              <div class="col-md-12">
                <label for="nombre" class="form-label required">Nombre</label>
                <input type="text" class="form-control input-field" [class.error]="
                  headquartersForm.get('nombre')?.touched && headquartersForm.get('nombre')?.errors
                " id="nombre" formControlName="nombre" placeholder="Ej: Julieta" />
                <small *ngIf="
                  headquartersForm.get('nombre')?.touched && headquartersForm.get('nombre')?.errors
                " class="text-danger">El nombre es requerido</small>
              </div>
              <div class="col-md-6">
                <label for="telefono" class="form-label required">Teléfono</label>
                <input type="text" class="form-control input-field" [class.error]="
                  headquartersForm.get('telefono')?.touched && headquartersForm.get('telefono')?.errors
                " id="telefono" formControlName="telefono" placeholder="Ej: 123456789" />
                <small *ngIf="
                  headquartersForm.get('telefono')?.touched && headquartersForm.get('telefono')?.errors
                " class="text-danger">El teléfono es requerido</small>
              </div>
              <div class="col-md-6">
                <label for="provincia" class="form-label required"
                  >Provincia</label
                >
                <select
                  (change)="onProvinceChange()"
                  class="form-control input-field"
                  [class.error]="
                    headquartersForm.get('provincia')?.dirty &&
                    headquartersForm.get('provincia')?.errors
                  "
                  id="provincia"
                  formControlName="provincia"
                >
                  <option value="" selected>
                    Seleccionar Provincia
                  </option>
                  <option
                    *ngFor="let prov of provinces"
                    [ngValue]="prov.nombre"
                  >
                    {{ prov.nombre }}
                  </option>
                </select>
                <small
                  *ngIf="
                    headquartersForm.get('provincia')?.touched &&
                    headquartersForm.get('provincia')?.errors
                  "
                  class="text-danger"
                  >La provincia es requerida</small
                >
              </div>
              <div class="col-md-6">
                <label for="localidad" class="form-label required">Localidades</label>
                <select
                  class="form-control input-field"
                  [class.error]="
                    headquartersForm.get('localidad')?.dirty &&
                    headquartersForm.get('localidad')?.errors
                  "
                  id="localidad"
                  required
                  formControlName="localidad"
                >
                  <option value="" selected>Seleccionar Localidad</option>
                  <option
                    *ngFor="let local of localidades"
                    [value]="local.nombre"
                  >
                    {{ local.nombre }}
                  </option>
                </select>
                <small
                  *ngIf="
                    headquartersForm.get('localidad')?.touched &&
                    headquartersForm.get('localidad')?.errors
                  "
                  class="text-danger"
                  >La localidad es requerida</small
                >
              </div>
              <div class="col-md-6">
                <label for="direccion" class="form-label required">Dirección</label>
                <input type="text" class="form-control input-field" [class.error]="
                  headquartersForm.get('direccion')?.touched &&
                  headquartersForm.get('direccion')?.errors
                " id="direccion" formControlName="direccion" placeholder="Ej: Calle 123" />
                <small *ngIf="
                  headquartersForm.get('direccion')?.touched &&
                  headquartersForm.get('direccion')?.errors
                " class="text-danger">La dirección es requerida</small>
              </div>
            </div>
            
          </form>
        </div>
        <div class="d-flex justify-content-center">
          <button
            (click)="submitForm()"
            type="button"
            class="btn btn-round bg-gradient-primary"
          >
          Guardar cambios
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
