.campaign-image {
    max-width: 100%;
    height: auto;
    max-height: 300px;
  }

.badge-active {
  display: inline-block;
  padding: 0.25em 0.4em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25rem;
  color: #fff;
  background-color: #28a745;
  margin-bottom: 5px;
}

.badge-inactive {
  display: inline-block;
  padding: 0.25em 0.4em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25rem;
  color: #fff;
  background-color: #dc3545;
  margin-bottom: 5px;
}

.campaign-image {
  max-width: 100%;
  height: auto;
}
  