<div *ngIf="loading" class="loading-container">
  <div class="spinner"></div>
</div>

<section *ngIf="!loading">
  <div class="page-container min-vh-100">
      <div>
          <img class="position-absolute fixed-top ms-auto w-60 h-100 z-index-0 d-none d-sm-none d-md-block border-radius-section border-top-end-radius-0 border-top-start-radius-0 border-bottom-end-radius-0" src="../assets/img/a.png">
          <img class="position-absolute fixed-top ms-8 w-auto h-100 z-index-0 d-xl-none border-radius-section border-top-end-radius-0 border-top-start-radius-0 border-bottom-end-radius-0" src="../assets/img/a-mobile.png">
      </div>
      <div class="container">
          <div class="card blur justify-content-center shadow-lg mt-7 mb-5 px-lg-4 pb-3">
              <div class="row text-center mx-1 mt-4">
                  <h2>¿Qué <span class="text-gradient text-secondary">necesita mi organización</span>?</h2>
              </div>
              <div class="card-body pb-2">
                  <div class="row">
                      <div class="col text-center">
                          <p class="lead">Indicá dentro de las categorías cuáles son las necesidades de tu organización.</p>
                      </div>
                  </div>
                  <form [formGroup]="campaignForm" (ngSubmit)="addCampaign()">
                      <div class="row justify-content-center">
                          <div class="col-lg-8 d-flex justify-content-center align-items-center px-lg-4">
                              <div class="row g-3">
                                  <div class="col-md-12">
                                      <label for="title" class="form-label required">Título</label>
                                      <input type="text" class="form-control input-field" [class.error]="fm['title'].dirty && fm['title'].errors" id="title" name="title" placeholder="Título" formControlName="title">
                                      <small *ngIf="fm['title'].dirty && fm['title'].errors" class="text-danger">El título es requerido</small>
                                  </div>
                                  <div class="col-md-6">
                                      <label for="startDate" class="form-label required">Fecha de inicio</label>
                                      <input type="date" class="form-control input-field" [class.error]="fm['startDate'].dirty && fm['startDate'].errors" id="startDate" name="startDate" formControlName="startDate">
                                      <small *ngIf="fm['startDate'].dirty && fm['startDate'].errors" class="text-danger">La fecha de inicio es requerida</small>
                                  </div>
                                  <div class="col-md-6">
                                      <label for="endDate" class="form-label required">Fecha de fin</label>
                                      <input type="date" class="form-control input-field" [class.error]="fm['endDate'].dirty && fm['endDate'].errors" id="endDate" name="endDate" formControlName="endDate">
                                      <small *ngIf="fm['endDate'].dirty && fm['endDate'].errors" class="text-danger">La fecha de fin es requerida</small>
                                  </div>
                                  <div class="col-md-12">
                                      <label for="imageUrl" class="form-label required">URL de la Imagen</label>
                                      <input type="text" class="form-control input-field" [class.error]="fm['imageUrl'].dirty && fm['imageUrl'].errors" id="imageUrl" name="imageUrl" placeholder="URL de la Imagen" formControlName="imageUrl">
                                      <small *ngIf="fm['imageUrl'].dirty && fm['imageUrl'].errors" class="text-danger">La URL de la imagen es requerida</small>
                                  </div>
                                  <div class="col-md-12">
                                      <label class="form-label required">Necesidades</label>
                                      <div class="row g-3 d-flex justify-content-center pb-4" *ngFor="let need of needs">
                                          <div class="col-lg-6">
                                              <mat-accordion multi>
                                                  <mat-expansion-panel>
                                                      <mat-expansion-panel-header>
                                                          <mat-panel-title>
                                                              <img [src]="need.icono" alt="{{need.nombre}}" class="pe-3"> {{ need.nombre }}
                                                          </mat-panel-title>
                                                      </mat-expansion-panel-header>
                                                      <section class="d-flex flex-column" [formGroup]="formGroups[need.nombre]">
                                                          <mat-checkbox color="primary" *ngFor="let subcategory of need.subcategoria" formControlName="{{ subcategory.nombre }}">
                                                              {{ subcategory.nombre }}
                                                          </mat-checkbox>
                                                      </section>
                                                  </mat-expansion-panel>
                                              </mat-accordion>
                                          </div>
                                      </div>
                                  </div>
                                  <div class="col-12">
                                      <div class="row">
                                          <div class="d-flex justify-content-center pt-3">
                                              <button type="submit" class="btn btn-round bg-gradient-primary">Agregar campaña</button>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </form>
                  <ul class="list-group list-group-flush mt-5">
                    <li class="list-group-item" *ngFor="let campaign of sortedCampaigns()">
                      <div class="d-flex justify-content-between align-items-center">
                        <div>
                          <h5>{{ campaign.title }}</h5>
                          <p><strong>Fecha de inicio:</strong> {{ campaign.startDate | date: 'yyyy-MM-dd' }}</p>
                          <p><strong>Fecha de fin:</strong> {{ campaign.endDate | date: 'yyyy-MM-dd' }}</p>
                          <img *ngIf="campaign.imageUrl" [src]="campaign.imageUrl" alt="{{ campaign.title }}" class="img-fluid mt-2 mb-2 campaign-image">
                          <div *ngFor="let need of campaign.needs" class="col">
                            <div class="d-flex align-items-start g-2">
                              <div class="me-3">
                                <img [src]="need.icono" alt="{{need.nombre}}">
                              </div>
                              <div>
                                <span>{{need.nombre}}</span>
                                <ul>
                                  <li *ngFor="let sub of need.subcategoria">{{sub.nombre}}</li>
                                </ul>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="text-center action-container">
                          <span [ngClass]="{'badge-active': campaign.isActive, 'badge-inactive': !campaign.isActive}">
                            {{ campaign.isActive ? 'Activa' : 'Inactiva' }}
                          </span>
                          <button (click)="updateCampaignStatus(campaign.id, !campaign.isActive)" class="btn btn-round btn-xs text-xs bg-gradient-secondary mt-2">
                            {{ campaign.isActive ? 'Desactivar' : 'Activar' }}
                          </button>
                          <button (click)="deleteCampaign(campaign.id)" class="btn btn-round btn-xs text-xs bg-gradient-danger mt-2">Eliminar campaña</button>
                        </div>
                      </div>
                    </li>
                  </ul>
                  
                                  
              </div>
          </div>
      </div>
  </div>
</section>
