/* You can add global styles to this file, and also import other style files*/
html, body { height: 100%!important; }
body {font-family: "Fredoka", sans-serif !important; font-weight: 400 !important; } 
:root{
    --color-primary: #8BC53F;
    --color-secondary: #4281A4;
    --color-dark-grey: #3D3D3D; 
    --color-light-grey: #F8F8F8;
}

.text-primary{
    color:#8BC53F !important;
}

.text-secondary{
    color: #4281A4 !important;
}

.btn-outline-primary{
    --bs-btn-color: #4281A4;
    --bs-btn-border-color: #4281A4;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #4281A4;
    --bs-btn-hover-border-color: #4281A4;
    --bs-btn-focus-shadow-rgb: 203, 12, 159;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #4281A4;
    --bs-btn-active-border-color: #4281A4;
    --bs-btn-active-shadow: none;
    --bs-btn-disabled-color: #4281A4;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #4281A4;
    --bs-gradient: none;
}

.bg-gradient-primary{
    background-image: linear-gradient(310deg, #cfeea7 0%, #8BC53F 100%);
}

.bg-gradient-secondary{
    background-image: linear-gradient(310deg, #A4C2DB 0%, #4281A4 100%);
} 

.text-gradient.text-primary {
    background-image: linear-gradient(310deg, #A4C2DB 0%, #4281A4 100%);
}

.text-gradient.text-secondary {
    background-image: linear-gradient(310deg, #cfeea7 0%, #8BC53F 100%);
}

.text-highlight{
    color:#fff;
    background: linear-gradient(310deg, #8BC53F 0%, #4281A4 100%);
    border-radius: 1rem;
    padding-inline: 10px;
}

.card.card-background.card-background-mask-primary:after {
    background-image: linear-gradient(310deg, #8BC53F 0%, #4281A4 100%);
    opacity: .85;
}

svg.text-primary .color-background {
    fill: #4281A4;
}

.card .card-body {
    font-family: "Fredoka", sans-serif !important;
    font-weight: 400 !important;
    padding: 1.5rem;
}

.btn {
    letter-spacing: 0.1rem;
}

.icon-shape {
    width: 48px;
    height: 48px;
    background-position: 50%;
    border-radius: .75rem;
}

.info-window{
    padding: .5rem .5rem .5rem 0rem;
}

.info-window > h3{
    color: var(--color-secondary);
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 600;
}

.info-window > p{
    color: var(--color-dark-grey);
    font-size: 14px;
    text-transform: capitalize;
    font-weight: 400;
    margin-bottom: .5rem;
}

.gm-ui-hover-effect{
    top: -3px !important;
    right: -3px !important;
    color: var(--color-dark-grey);
    height: 30px !important;
}

.gm-style .gm-style-iw-c{
    border-radius: 2px;
}

.vertical-alignment {
    display: flex;
    align-items: center;
  }