/* You can add global styles to this file, and also import other style files*/
html, body { height: 100%!important; }
body {font-family: "Fredoka", sans-serif !important; font-weight: 400 !important; color: #5A5A5A;} 
:root{
    --color-primary: #8BC53F;
    --color-secondary: #4281A4;
    --color-dark-grey: #323232; 
    --color-light-grey: #F8F8F8;
    --bs-btn-focus-shadow-rgb: rgb(139 197 63 / 50%);
}

.text-primary{
    color:#8BC53F !important;
}

.text-secondary{
    color: #4281A4 !important;
}

a {
    color: #4281A4;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}

a:hover {
    color: #8BC53F;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
    color: #5A5A5A;
}

label, .form-label {
    font-size: 0.85rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
    color: #5A5A5A;
    margin-left: 0.25rem;
}

.btn {
    letter-spacing: 0.1rem;
}

.btn-outline-primary{
    --bs-btn-color: #8BC53F;
    --bs-btn-border-color: #8BC53F;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #8BC53F;
    --bs-btn-hover-border-color: #8BC53F;
    --bs-btn-focus-shadow-rgb: 203, 12, 159;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #8BC53F;
    --bs-btn-active-border-color: #8BC53F;
    --bs-btn-active-shadow: none;
    --bs-btn-disabled-color: #8BC53F;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #8BC53F;
    --bs-gradient: none;
}

.btn-outline-primary:hover:not(.active) {
    background-color: transparent;
    opacity: .75;
    box-shadow: none;
    color: #8BC53F;
}

.btn-outline-secondary{
    --bs-btn-color: #4281A4;
    --bs-btn-border-color: #4281A4;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #4281A4;
    --bs-btn-hover-border-color: #4281A4;
    --bs-btn-focus-shadow-rgb: 203, 12, 159;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #4281A4;
    --bs-btn-active-border-color: #4281A4;
    --bs-btn-active-shadow: none;
    --bs-btn-disabled-color: #4281A4;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #4281A4;
    --bs-gradient: none;
}

.btn-outline-secondary:hover:not(.active) {
    background-color: transparent;
    opacity: .75;
    box-shadow: none;
    color: #4281A4;
  }

.text-gradient.text-primary {
    background-image: linear-gradient(310deg, #CBE5A8 0%, #8BC53F 100%);
}

.bg-gradient-primary{
    background-image: linear-gradient(310deg, #CBE5A8 0%, #8BC53F 100%);
}

.text-gradient.text-secondary {
    background-image: linear-gradient(310deg, #A4C2DB 0%, #4281A4 100%);
}

.bg-gradient-secondary{
    background-image: linear-gradient(310deg, #A4C2DB 0%, #4281A4 100%);
} 

.text-highlight{
    color:#fff;
    background: linear-gradient(310deg, #4281A4 0%, #8BC53F 100%);
    border-radius: 1rem;
    padding-inline: 10px;
}

svg.text-primary .color-background {
    fill: #8BC53F;
}

svg.text-secondary .color-background {
    fill: #4281A4;
}

.card.card-background.card-background-mask-primary:after {
    background-image: linear-gradient(310deg, #8BC53F 0%, #4281A4 100%);
    opacity: .85;
}

.card .card-body {
    font-family: "Fredoka", sans-serif !important;
    font-weight: 400 !important;
    padding: 1.5rem;
}

.icon-shape {
    width: 48px;
    height: 48px;
    background-position: 50%;
    border-radius: .75rem;
}

.info-window{
    padding: .5rem .5rem .5rem 0rem;
}

.info-window > h3{
    color: var(--color-secondary);
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 600;
}

.info-window > p{
    color: var(--color-dark-grey);
    font-size: 14px;
    text-transform: capitalize;
    font-weight: 400;
    margin-bottom: .5rem;
}

.gm-ui-hover-effect{
    top: -3px !important;
    right: -3px !important;
    color: var(--color-dark-grey);
    height: 30px !important;
}

.gm-style .gm-style-iw-c{
    border-radius: 2px;
}

.vertical-alignment {
    display: flex;
    align-items: center;
}

.mat-mdc-dialog-container .mdc-dialog__surface {
    border-radius: 1rem !important;
}

.page-container {
    padding: 0;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    background-size: cover;
    background-position: 50%;
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #4281A4;
    outline: 0;
    box-shadow: 0 0 0 2px #A4C2DB
}