/* ESTILO ORIGINAL POR SI SE NECESITA 

:root{
    --color-primary: #8BC53F; /* Color primario 
    --color-secondary: #4281A4; /* Color secundario
    --color-dark-grey: #3D3D3D; 
    --color-light-grey: #F8F8F8;
}

html,body{
    height: 100%;
}

.btn.btn-primary{
    background-color: var(--color-primary);
    border-color: var(--color-primary);
}

.btn.btn-primary:hover{
    background-color: var(--color-primary);
    border-color: var(--color-primary);
}

.btn.btn-primary:active{
    background-color: var(--color-primary)!important;
    border-color: var(--color-primary)!important;
}

.btn.btn-secondary{
    background-color: var(--color-secondary);
    border-color: var(--color-secondary);
}

.btn.btn-secondary:hover{
    background-color: var(--color-secondary);
    border-color: var(--color-secondary);
}

.btn.btn-secondary:active{
    background-color: var(--color-secondary)!important;
    border-color: var(--color-secondary)!important;
}

.input-field.error{
    border:1px solid red;
    border-color: red!important;
    color:red;
}

.msj-error{
  color:red; 
}

label.required::after {
    content: "*";
    color: red;
    margin-left: 5px; 
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
*/

body {font-family: "Fredoka", sans-serif !important; font-weight: 400 !important; } 

:root{
    --color-primary: #8BC53F;
    --color-secondary: #4281A4;
    --color-dark-grey: #3D3D3D; 
    --color-light-grey: #F8F8F8;
}

.btn-outline-primary{
    --bs-btn-color: #4281A4;
    --bs-btn-border-color: #4281A4;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #4281A4;
    --bs-btn-hover-border-color: #4281A4;
    --bs-btn-focus-shadow-rgb: 203, 12, 159;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #4281A4;
    --bs-btn-active-border-color: #4281A4;
    --bs-btn-active-shadow: none;
    --bs-btn-disabled-color: #4281A4;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #4281A4;
    --bs-gradient: none;
}

.bg-gradient-primary{
    background-image: linear-gradient(310deg, #cfeea7 0%, #8BC53F 100%);
} 

.text-gradient.text-primary {
    background-image: linear-gradient(310deg, #A4C2DB 0%, #4281A4 100%);
}

.text-gradient.text-secondary {
    background-image: linear-gradient(310deg, #cfeea7 0%, #8BC53F 100%);
}

.card.card-background.card-background-mask-primary:after {
    background-image: linear-gradient(310deg, #8BC53F 0%, #4281A4 100%);
    opacity: .85;
}

svg.text-primary .color-background {
    fill: #4281A4;
}

input {font-family: "Fredoka", sans-serif !important; font-weight: 400 !important; }

p {font-family: "Fredoka", sans-serif !important; font-weight: 400 !important; }