<!--==================== START HEADER ====================-->
<header class="header-2">
   <div class="page-header min-vh-90 relative" style="background-image: url('./assets/img/a.png')">
     <div class="container">
       <div class="row align-items-center">
         <div class="col-12 text-center mx-auto mb-5">
           <h1 class="text-white display-2">¡Reciclar telas<br>nunca fue <span class="text-highlight">tan fácil</span>!</h1>
           <p class="lead text-white mt-3" >¿Tenés telas que ya no usás?<br>¡Dales una nueva vida con nuestra herramienta de generación de ideas!</p>
           <button type="button" class="btn btn-round btn-lg text-lg bg-gradient-primary" routerLink="/generar-ideas">Generar Idea <i class="fas fa-long-arrow-alt-right"></i></button>
         </div>
       </div>
     </div>
     <div class="position-absolute w-100 z-index-1 bottom-0">
       <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 40" preserveAspectRatio="none" shape-rendering="auto">
         <defs>
           <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
         </defs>
         <g class="moving-waves">
           <use xlink:href="#gentle-wave" x="48" y="-1" fill="rgba(233,236,239,0.40" />
           <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(233,236,239,0.35)" />
           <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(233,236,239,0.25)" />
           <use xlink:href="#gentle-wave" x="48" y="8" fill="rgba(233,236,239,0.20)" />
           <use xlink:href="#gentle-wave" x="48" y="13" fill="rgba(233,236,239,0.15)" />
           <use xlink:href="#gentle-wave" x="48" y="16" fill="rgba(233,236,239,0.95" />
         </g>
       </svg>
     </div>
   </div>
</header>
<!--==================== END HEADER ====================-->

<!--==================== STAR SECTION 1 ====================-->
<section class="pt-3 pb-4">
   <div class="container mt-sm-0">
     <div class="row">
       <div class="col-lg-9 z-index-2 border-radius-xl mt-n9 mx-auto py-3 blur shadow-blur">
         <div class="row">
           <div class="col-md-4 position-relative">
             <div class="p-3 text-center">
               <h1>
                 <i class="fas fa-brain text-gradient text-secondary"></i>
               </h1>
               <h5 class="mt-3">Inspirá tu Creatividad</h5>
               <p class="text-md">Descubrí el potencial de la tela reciclada con la ayuda de nuestra IA</p>
             </div>
             <hr class="vertical dark">
           </div>
           <div class="col-md-4 position-relative">
             <div class="p-3 text-center">
               <h1>
                 <i class="fas fa-tshirt text-gradient text-secondary"></i>
               </h1>
               <h5 class="mt-3">Transformá</h5>
               <p class="text-md">Elaborá productos a partir de retazos de tela que no usás</p>
             </div>
             <hr class="vertical dark">
           </div>
           <div class="col-md-4">
             <div class="p-3 text-center">
               <h1>
                 <i class="fas fa-hand-holding-heart text-gradient text-secondary"></i>
               </h1>
               <h5 class="mt-3">Doná y Ayudá</h5>
               <p class="text-md">Contribuí con el cambio donando a organizaciones benéficas</p>
             </div>
           </div>
         </div>
       </div>
     </div>
   </div>
</section>
<!--==================== END SECTION 1 ====================-->

<!--==================== STAR SECTION 2 ====================-->
<section class="my-5 py-5">
   <div class="container">
      <div class="row align-items-center">
         <div class="col-lg-6 ms-auto">
         <div class="row justify-content-start">
            <div class="col-md-6">
               <div class="info mb-5">
               <h4 class="font-weight-bolder mt-3 text-gradient text-secondary">Reducción de Residuos</h4>
               <p class="pe-5">El reciclaje textil evitó que <b>234 millones de prendas</b> terminen en vertederos en el último año.</p>
               </div>
            </div>
            <div class="col-md-6">
               <div class="info mb-5">
               <h4 class="font-weight-bolder mt-3 text-gradient text-secondary">Conservación de Recursos</h4>
               <p class="pe-3">Cada prenda reciclada permite ahorrar unos <b>2.700 litros de agua</b> aproximadamente.</p>

               </div>
            </div>
         </div>
         <div class="row justify-content-start">
            <div class="col-md-6">
               <div class="info mb-5">
               <h4 class="font-weight-bolder mt-3 text-gradient text-secondary">Reducción de Emisiones</h4>
               <p class="pe-5">El reciclaje textil redujo las emisiones de carbono en más de <b>400.000 toneladas</b>.</p>
               </div>
            </div>
            <div class="col-md-6">
               <div class="info mb-5">
               <h4 class="font-weight-bolder mt-3 text-gradient text-secondary">Impacto Social</h4>
               <p class="pe-3">El reciclaje textil generó más de <b>10.000 empleos</b> en la industria de la economía circular.</p>
               </div>
            </div>
         </div>
         </div>
         <div class="col-lg-4 ms-auto me-auto p-lg-4 mt-lg-0 mt-4">
            <div class="card card-background card-background-mask-primary tilt move-on-hover">
               <div class="full-background" style="background-image: url(../../../assets/img/banner-a.png)"></div>
               <div class="card-body pt-6 text-center">
               <h3 class="fas fa-recycle text-primary"></h3>
               <h1 class="text-white up mb-0">El impacto positivo del reciclaje textil</h1>
               <a target="_blank" class="btn btn-outline-white mt-3 mb-4 up btn-round" routerLink="/generar-ideas">¡Quiero contribuir!</a>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>
<!--==================== END SECTION 2 ====================-->

<!--==================== STAR SECTION 3 ====================-->
<section class="my-5 py-5">
<div class="card card-body blur shadow-blur mx-3 mt-n6 py-4">
   <div class="container">
      <div class="row align-items-center">
         <div class="col-lg-4 ms-auto me-auto py-4">
            <div class="card card-background card-background-mask-primary tilt move-on-hover">
               <div class="full-background" style="background-image: url(../../../assets/img/banner-b.png)"></div>
               <div class="card-body pt-6 text-center">
               <h3 class="fas fa-hands-helping text-primary"></h3>
               <h2 class="text-white up mb-0">Nuestra misión</h2>
               <p class="mb-5">En reCrea, nos apasiona tejer un futuro más sostenible a través del reciclaje textil, impulsando proteger el medio ambiente y fomentando la responsabilidad social.</p>
               </div>
            </div>
         </div>
         <div class="col-lg-7 ms-auto">
         <div class="row justify-content-start">
            <div class="col-md-6 pt-lg-0 pt-5">
               <div class="p-lg-3 info-horizontal">
                  <div class="icon icon-shape rounded-circle bg-gradient-primary shadow text-center">
                    <i class="fas fa-seedling opacity-10"></i>
                  </div>
                  <div class="description ps-3">
                     <h5 class="text-gradient text-primary">Sustentabilidad</h5> <p>Reduce el desperdicio de tela y promueve la reutilización de las mismas.</p>
                  </div>
                </div>
            </div>
            <div class="col-md-6 pt-lg-0 pt-5">
               <div class="p-lg-3 info-horizontal">
                  <div class="icon icon-shape rounded-circle bg-gradient-secondary shadow text-center">
                    <i class="fas fa-paint-brush opacity-10"></i>
                  </div>
                  <div class="description ps-3">
                     <h5 class="text-gradient text-secondary">Creatividad</h5> <p>Brinda ideas y recursos para proyectos de confección y artesanía con materiales limitados.</p>
                  </div>
                </div>
            </div>
         </div>
         <div class="row justify-content-start">
            <div class="col-md-6 pt-lg-0 pt-5">
               <div class="p-lg-3 info-horizontal">
                  <div class="icon icon-shape rounded-circle bg-gradient-secondary shadow text-center">
                    <i class="fas fa-users opacity-10"></i>
                  </div>
                  <div class="description ps-3">
                     <h5 class="text-gradient text-secondary">Comunidad</h5> <p>Conecta a personas con intereses en la sostenibilidad, la moda DIY y el reciclaje.</p>
                  </div>
                </div>
            </div>
            <div class="col-md-6 pt-lg-0 pt-5">
               <div class="p-lg-3 info-horizontal">
                  <div class="icon icon-shape rounded-circle bg-gradient-primary shadow text-center">
                    <i class="fas fa-hand-holding-heart opacity-10"></i>
                  </div>
                  <div class="description ps-3">
                    <h5 class="text-gradient text-primary">Solidaridad</h5> <p>Facilita las donaciones de creaciones a organizaciones benéficas que lo necesiten.</p>
                  </div>
                </div>
            </div>
         </div>
         </div>
      </div>
   </div>
</div>
</section>
<!--==================== END SECTION 3 ====================-->

<!--==================== STAR SECTION 4 ====================-->
<section class="my-5 py-5">
   <div class="container">
      <div class="card card-background card-background-mask-primary tilt">
         <div class="full-background" style="background-image: url(../../../assets/img/b.png)"></div>
         <div class="card-body pt-6 text-center">
         <div class="text-white display-4">Sumate a la causa</div>
         <p class="m-3">¿Formás parte de una organización benéfica?<br>Registrá tu organización en reCrea y ¡comenzá a recibir donaciones de la comunidad!</p>
         <div class="buttons">
            <button type="button" class="btn btn-round btn-lg text-md bg-gradient-primary" routerLink="/signup">Registrate <i class="fas fa-long-arrow-alt-right"></i></button>
            <br>
            <a class="btn btn-round btn-lg text-md btn-outline-white up" routerLink="/ubicaciones">Nuestra red</a>
          </div>
         </div>
      </div>
   </div>
</section>
<!--==================== END SECTION 4 ====================-->