<section class="showcase" id="banner1">
    <div class="container d-flex justify-content-center py-5">
        <div class="showcase-bottom row py-5">
            <div class="col-md-7">
                <div class="d-flex flex-column justify-content-center align-items-center text-center h-100">
                    <h1 class="display-1 fw-lighter py-4">
                        ¡Reciclar telas nunca fue tan fácil! <br />
                    </h1>
                    <p class="fw-light fs-1">¿Tenés telas que ya no usas? No las tires a la basura. ¡Dales una nueva vida con nuestra herramienta de generación de ideas!</p>
                    <a href="#" class="btn btn-primary rounded-pill px-5 py-2">Generar Idea →</a>
                </div>
            </div>
            <div class="col-md-5">
                <img src="../../../assets/images/s2.webp" alt="" class="img-fluid" />
            </div>
        </div>
    </div>
</section>

<section class="showcase" id="banner2">
    <div class="container d-flex justify-content-center py-5">
        <div class="showcase-bottom row">
            <div class="col-md-7">
                <div class="d-flex flex-column justify-content-center align-items-center text-center h-100">
                    <div class="container text-center">
                        <div class="row row-cols-1 row-cols-md-2 g-4 p-5">
                            <div class="col">
                              <div class="card align-items-center h-100 shadow">
                                <img src="../../../assets/images/inteligencia-artificial.png" class="card-img-top p-2" id="card-image">
                                <div class="card-body">
                                  <h5 class="card-title">Inspirá tu Creatividad</h5>
                                  <p class="card-text">Descubrí el potencial de la tela reciclada.</p>
                                </div>
                              </div>
                            </div>
                            <div class="col">
                              <div class="card align-items-center h-100 shadow">
                                <img src="../../../assets/images/caridad.png" class="card-img-top p-2" id="card-image">
                                <div class="card-body">
                                  <h5 class="card-title">Doná</h5>
                                  <p class="card-text">Contribuí con el cambio donando a organizaciones benéficas</p>
                                </div>
                              </div>
                            </div>
                            <div class="col">
                              <div class="card align-items-center h-100 shadow">
                                <img src="../../../assets/images/maquina-de-coser.png" class="card-img-top p-2" id="card-image">
                                <div class="card-body">
                                  <h5 class="card-title">Transformá</h5>
                                  <p class="card-text">Creá productos a partir de retazos de tela que no usás.</p>
                                </div>
                              </div>
                            </div>
                            <div class="col">
                              <div class="card align-items-center h-100 shadow">
                                <img src="../../../assets/images/siembra.png" class="card-img-top p-2" id="card-image">
                                <div class="card-body">
                                  <h5 class="card-title">Ayudá</h5>
                                  <p class="card-text"> Tu acción cuenta. Unite a la comunidad y protegé el planeta.</p>
                                </div>
                              </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-5 justify-content-center align-items-center text-center h-100">
                <h1 class="display-1 fw-lighter py-5">
                    Descubrí, creá y contribuí <br />
                </h1>
                <p class="fw-light fs-4">Inspirate con nuevas ideas, convertí tus telas en productos únicos, encontrá productos sostenibles y contribuí al cambio donando. Tu participación es clave en nuestra misión de construir un futuro más verde y consciente.</p>
            </div>
        </div>
    </div>
</section>

<section class="text-center" id="banner3">
    <div class="container">
       <div class="row py-lg-5">
          <div class="col-lg-6 col-md-8 mx-auto">
             <h1 class="display-1 fw-lighter py-4">Impacto positivo del reciclaje textil</h1>
             <p class="fw-light fs-4">Descubrí cómo el reciclaje textil está generando un impacto positivo en el medio ambiente, la economía y la sociedad. Transformando telas usadas en oportunidades sostenibles y contribuyendo a un futuro más verde y consciente.</p>
          </div>
       </div>
       <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 g-2">
          <div class="col">
             <img class="bd-placeholder-img card-img-top rounded" width="100%" height="225" src="https://media.a24.com/p/fba7f868c1c745eb4e79d713bcbb9d8d/adjuntos/296/imagenes/008/131/0008131077/reciclaje-carton.jpeg">
          </div>
          <div class="col">
             <img class="bd-placeholder-img card-img-top rounded" width="100%" height="225" src="https://media.a24.com/p/fba7f868c1c745eb4e79d713bcbb9d8d/adjuntos/296/imagenes/008/131/0008131077/reciclaje-carton.jpeg">
          </div>
       </div>
       <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-4 pb-5 pt-5">
          <div class="col">
             <div class="card shadow text-center h-100">
                <div class="card-body">
                   <h5 class="card-title">Reducción de Residuos</h5>
                   <p class="card-text">El reciclaje textil evitó que 234 millones de prendas terminen en vertederos en el último año.</p>
                </div>
             </div>
          </div>
          <div class="col">
             <div class="card shadow text-center h-100">
                <div class="card-body">
                   <h5 class="card-title">Conservación de Recursos</h5>
                   <p class="card-text">Cada prenda reciclada ahorra aproximadamente 2,700 litros de agua.</p>
                </div>
             </div>
          </div>
          <div class="col">
             <div class="card shadow text-center h-100">
                <div class="card-body">
                   <h5 class="card-title">Reducción de Emisiones</h5>
                   <p class="card-text">El reciclaje textil redujo lasemisiones de carbono en más de 400,000 toneladas.</p>
                </div>
             </div>
          </div>
          <div class="col">
             <div class="card shadow text-center h-100">
                <div class="card-body">
                   <h5 class="card-title">Impacto Social</h5>
                   <p class="card-text">El reciclaje textil generó más de 10,000 empleos en la industria de la economía circular.</p>
                </div>
             </div>
          </div>
       </div>
    </div>
 </section>

 <section class="pb-5" id="banner4">
    <div class="container pb-5">
       <div class="row py-lg-5 text-center">
          <div class="mx-auto">
             <h1 class="display-1 fw-lighter py-4">Nuestra misión</h1>
             <p class="fw-light fs-4">
                En un mundo que enfrenta desafíos ambientales cada vez más urgentes, el reciclaje textil se presenta como una herramienta poderosa para crear un cambio positivo. <br>
                En reCrea, nos apasiona tejer un futuro más sostenible a través del reciclaje textil, impulsando iniciativas que protegen el medio ambiente y fomentan la responsabilidad social.
             </p>
          </div>
       </div>
       <div class="card">
        <div class="card-body shadow">
          <div class="card-text fw-light fs-5 m-3">
            <p><span class="fa fa-check-square" id="checkMision"></span> Desperdicio de Materiales: Aborda el problema del excedente y desperdicio de tela en la industria de la moda y la confección, proporcionando una solución para reutilizar los retazos de tela que de otra manera acabarían en vertederos.</p><br>
            <p><span class="fa fa-check-square" id="checkMision"></span> Acceso a la Creatividad: Soluciona la barrera que pueden tener algunas personas para iniciar proyectos de confección o artesanía debido a la falta de ideas o conocimientos sobre qué hacer con materiales limitados o sobrantes.</p><br>
            <p><span class="fa fa-check-square" id="checkMision"></span> Conectividad Comunitaria: Resuelve la desconexión entre personas con intereses similares en la sostenibilidad y la moda/reciclaje DIY (hazlo tú mismo), creando un espacio donde pueden colaborar, compartir ideas y recursos.</p><br>
            <p><span class="fa fa-check-square" id="checkMision"></span> Oportunidades de Mercado: Proporciona una plataforma para que artesanos y aficionados al DIY puedan monetizar sus creaciones o encontrar materiales a bajo costo, lo cual es particularmente valioso para pequeños emprendedores o comunidades con recursos limitados.</p><br>
            <p><span class="fa fa-check-square" id="checkMision"></span> Apoyo a Causas Benéficas: Ofrece una solución para que las creaciones y los materiales sobrantes tengan un impacto social positivo, facilitando las donaciones a organizaciones benéficas.</p>
          </div>
        </div>
      </div>
    </div>
 </section>

 <section class="showcase pb-5" id="banner5">
    <div class="container d-flex justify-content-center py-5">
        <div class="showcase-bottom row">
            <div class="col-md-6 offset-md-6 justify-content-center align-items-center h-100">
                <h1 class="display-1 fw-lighter">
                    Sumate a la causa: <br>
                    Registrá tu organización y recibí donaciones <br />
                </h1>
                <a href="#" class="btn btn-primary rounded-pill px-5 py-2">Registrate →</a>
            </div>
        </div>
    </div>
</section>