<!-- BANNER 1 -->
<section class="showcase py-5" id="banner1">
   <div class="d-flex p-5 h-100">
      <div class="showcase-bottom row justify-content-center align-items-center">
         <div class="col-md-5">
         <div class="d-flex flex-column h-100">
            <h1 class="display-1 py-4 fredoka-bold"> ¡Reciclar telas nunca fue <br /><mark class="rounded" id="banners">tan fácil!</mark><br /></h1>
            <p class="fw-light fs-3">¿Tenés telas que ya no usas? No las tires a la basura. ¡Dales una nueva vida con nuestra herramienta de generación de ideas!</p>
         </div><a href="#" class="btn btn-primary rounded-pill py-2 align-items-center" id="boton-banner1">Generar Idea <span class="fa fa-arrow-right"></span></a>
         </div>
         <div class="col-md-5 justify-content-center align-items-center p-3"><img src="../../../assets/images/showcase1.png" alt="" class="img-fluid" id="imagen-banner1" /></div>
      </div>
   </div>
</section>

<!-- BANNER 2 -->
<section class="showcase py-5" id="banner2">
   <div class="container d-flex py-5">
      <div class="showcase-bottom row">
         <div class="col-md-6">
         <div class="d-flex flex-column justify-content-center align-items-center text-center h-100">
            <div class="container text-center">
               <div class="row row-cols-1 row-cols-md-2 g-4">
               <div class="col">
                  <div class="card align-items-center h-100 shadow border-0"><img src="../../../assets/images/inteligencia-artificial.png" class="card-img-top mt-4" id="card-image-banner2">
                     <div class="card-body">
                     <h5 class="card-title fs-4" id="titulos-card">Inspirá tu Creatividad</h5>
                     <p class="card-text fs-5">Descubrí el potencial de la tela reciclada.</p>
                     </div>
                  </div>
               </div>
               <div class="col">
                  <div class="card align-items-center h-100 shadow border-0"><img src="../../../assets/images/caridad.png" class="card-img-top mt-4" id="card-image-banner2">
                     <div class="card-body">
                     <h5 class="card-title fs-4" id="titulos-card">Doná</h5>
                     <p class="card-text fs-5">Contribuí con el cambio donando a organizaciones benéficas</p>
                     </div>
                  </div>
               </div>
               <div class="col">
                  <div class="card align-items-center h-100 shadow border-0"><img src="../../../assets/images/maquina-de-coser.png" class="card-img-top mt-4" id="card-image-banner2">
                     <div class="card-body">
                     <h5 class="card-title fs-4" id="titulos-card">Transformá</h5>
                     <p class="card-text fs-5">Creá productos a partir de retazos de tela que no usás.</p>
                     </div>
                  </div>
               </div>
               <div class="col">
                  <div class="card align-items-center h-100 shadow border-0"><img src="../../../assets/images/siembra.png" class="card-img-top mt-4" id="card-image-banner2">
                     <div class="card-body">
                     <h5 class="card-title fs-4" id="titulos-card">Ayudá</h5>
                     <p class="card-text fs-5"> Tu acción cuenta. Unite a la comunidad y protegé el planeta.</p>
                     </div>
                  </div>
               </div>
               </div>
            </div>
         </div>
         </div>
         <div class="col-md-6 justify-content-center h-100 pt-5 px-5">
         <h1 class="display-1 fredoka-bold"> Descubrí, creá y <mark class="rounded" id="banners">contribuí</mark><br /></h1><br>
         <p class="fw-light fs-4">Inspirate con nuevas ideas, convertí tus telas en productos únicos, encontrá productos sostenibles y contribuí al cambio donando. <br> Tu participación es clave en nuestra misión de construir un futuro más verde y consciente.</p>
         </div>
      </div>
   </div>
</section>

<!-- BANNER 3 -->
<section class="text-center py-5" id="banner3">
   <div class="col-lg-6 col-md-7 mx-auto px-5">
      <h1 class="display-1 py-4 fredoka-bold">Impacto positivo del reciclaje <mark class="rounded" id="banners">textil</mark></h1>
      <p class="fw-light fs-4 pb-5">Descubrí cómo el reciclaje textil está generando un impacto positivo en el medio ambiente, la economía y la sociedad. Transformando telas usadas en oportunidades sostenibles y contribuyendo a un futuro más verde y consciente.</p>
   </div>
   <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 g-2">
         <div class="col"><img class="bd-placeholder-img card-img-top rounded shadow" id="images-banner3" src="../../../assets/images/images-banner3- (2).jpg"></div>
         <div class="col"><img class="bd-placeholder-img card-img-top rounded shadow" id="images-banner3" src="../../../assets/images/images-banner3- (1).jpg"></div>
      </div>
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-4 py-5">
         <div class="col">
         <div class="card shadow text-center h-100 border-0">
            <div class="card-body">
               <h5 class="card-title">Reducción de Residuos</h5>
               <p class="card-text">El reciclaje textil evitó que <span style="color: #8BC53F;">234 millones</span> de prendas terminen en vertederos en el último año.</p>
            </div>
         </div>
         </div>
         <div class="col">
         <div class="card shadow text-center h-100 border-0">
            <div class="card-body">
               <h5 class="card-title">Conservación de Recursos</h5>
               <p class="card-text">Cada prenda reciclada ahorra aproximadamente <span style="color: #8BC53F;">2,700 litros</span> de agua.</p>
            </div>
         </div>
         </div>
         <div class="col">
         <div class="card shadow text-center h-100 border-0">
            <div class="card-body">
               <h5 class="card-title">Reducción de Emisiones</h5>
               <p class="card-text">El reciclaje textil redujo lasemisiones de carbono en más de <span style="color: #8BC53F;">400,000 toneladas</span>.</p>
            </div>
         </div>
         </div>
         <div class="col">
         <div class="card shadow text-center h-100 border-0">
            <div class="card-body">
               <h5 class="card-title">Impacto Social</h5>
               <p class="card-text">El reciclaje textil generó más de <span style="color: #8BC53F;">10,000 empleos</span> en la industria de la economía circular.</p>
            </div>
         </div>
         </div>
      </div>
   </div>
</section>

<!-- BANNER 4 -->
<section class="pb-5" id="banner4">
   <div class="container pb-5">
      <div class="row py-lg-5 text-center">
         <div class="mx-auto px-5">
         <h1 class="display-1 py-4 fredoka-bold">Nuestra <mark class="rounded" id="banners">misión</mark></h1>
         <p class="fw-light fs-4"> En un mundo que enfrenta desafíos ambientales cada vez más urgentes, el reciclaje textil se presenta como una herramienta poderosa para crear un cambio positivo. <br> En reCrea, nos apasiona tejer un futuro más sostenible a través del reciclaje textil, impulsando iniciativas que protegen el medio ambiente y fomentan la responsabilidad social. </p>
         </div>
      </div>
      <div class="card shadow border-0 mx-3">
         <div class="card-body">
         <div class="card-text fw-light fs-5 m-3">
            <p><span class="fa fa-check-square" id="checkMision"></span> Desperdicio de Materiales: Aborda el problema del excedente y desperdicio de tela en la industria de la moda y la confección, proporcionando una solución para reutilizar los retazos de tela que de otra manera acabarían en vertederos.</p><br>
            <p><span class="fa fa-check-square" id="checkMision"></span> Acceso a la Creatividad: Soluciona la barrera que pueden tener algunas personas para iniciar proyectos de confección o artesanía debido a la falta de ideas o conocimientos sobre qué hacer con materiales limitados o sobrantes.</p><br>
            <p><span class="fa fa-check-square" id="checkMision"></span> Conectividad Comunitaria: Resuelve la desconexión entre personas con intereses similares en la sostenibilidad y la moda/reciclaje DIY (hazlo tú mismo), creando un espacio donde pueden colaborar, compartir ideas y recursos.</p><br>
            <p><span class="fa fa-check-square" id="checkMision"></span> Oportunidades de Mercado: Proporciona una plataforma para que artesanos y aficionados al DIY puedan monetizar sus creaciones o encontrar materiales a bajo costo, lo cual es particularmente valioso para pequeños emprendedores o comunidades con recursos limitados.</p><br>
            <p><span class="fa fa-check-square" id="checkMision"></span> Apoyo a Causas Benéficas: Ofrece una solución para que las creaciones y los materiales sobrantes tengan un impacto social positivo, facilitando las donaciones a organizaciones benéficas.</p>
         </div>
         </div>
      </div>
   </div>
</section>

<!-- BANNER 5 -->
<section class="showcase pb-5" id="banner5">
   <div class="d-flex justify-content-center py-5 p-5">
      <div class="showcase-bottom row justify-content-center align-items-center">
         <div class="col-md-5"><img src="../../../assets/images/showcase2.png" alt="" class="img-fluid" id="imagen-banner5" /></div>
         <div class="col-md-5 justify-content-center align-items-center p-3">
         <div class="d-flex flex-column h-100">
            <h1 class="display-1 fredoka-bold"> Sumate a la causa: <br> Registrá tu organización y recibí donaciones <br /></h1>
         </div><a href="#" class="btn btn-primary rounded-pill px-5 py-2" id="boton-banner5">Registrate <span class="fa fa-arrow-right"></span></a>
         </div>
      </div>
   </div>
</section>