<div *ngIf="loading" class="loading-container">
  <div class="spinner"></div>
</div>

<section>
  <div class="page-header min-vh-100">
    <div>
      <img
        class="position-absolute fixed-top ms-auto w-50 h-100 z-index-0 d-none d-sm-none d-md-block border-radius-section border-top-end-radius-0 border-top-start-radius-0 border-bottom-end-radius-0"
        src="../assets/img/curved-images/curved8.jpg" alt="image">
    </div>
    <div *ngIf="!loading && headquarters.length === 0" class="container">
      <div class="card d-flex blur justify-content-center shadow-lg my-sm-0 my-sm-6 mt-8 mb-5">
        <div class="card-body pt-0">
          <div class="d-flex row vertical-alignment">
            <div class="col-md-6 pt-3 text-center mx-auto">
              <h1>Agregá tus sedes</h1>
                  <div class="justify-content-center">
                    <p>
                      Agregá tus sedes para que los usuarios puedan visualizar en nuestra red, y así llegar más a ellos.
                    </p>
                    <button (click)="addingHeadquarters()" class="btn btn-lg btn-round bg-gradient-secondary">
                      Agregar una Sede
                    </button>
                  </div>  
            </div>
            <div class="col-md-6 pt-3 text-center mx-auto">
                <img
                  src="assets/img/map.png"
                  alt="Mapa de ejemplo"
                  class="img-fluid rounded"
                />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<div *ngIf="!loading && headquarters.length > 0" class="container mt-4">
  <div class="row">
    <div class="col-12">
      <h2>Mis Sedes</h2>
      <button (click)="addingHeadquarters()" class="btn btn-primary my-3">
        Agregar una Sede
      </button>
    </div>
    <div class="col-md-4" *ngFor="let headquarter of headquarters">
      <div class="card mb-3">
        <div class="card-body">
          <div class="d-flex justify-content-between align-items-center">
            <h5 class="card-title mb-0">{{ headquarter.nombre }}</h5>
            <div class="icons">
              <img
                src="assets/images/edit.svg"
                alt="editar sede"
                class="icon"
                (click)="editHeadquarters(headquarter)"
              />
              <img
                src="assets/images/delete.svg"
                alt="eliminar sede"
                class="icon"
                (click)="openConfirmDialog(headquarter)"
              />
            </div>
          </div>
          <p class="card-text">{{ headquarter.direccion }}</p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal de confirmación -->
<ng-template #confirmDialog let-data>
  <h1 mat-dialog-title>Confirmar Eliminación</h1>
  <div mat-dialog-content>
    <p>¿Está seguro que desea eliminar la sede {{ data.nombre }}?</p>
  </div>
  <div mat-dialog-actions>
    <button mat-button (click)="onCancel()">Cancelar</button>
    <button mat-button color="warn" (click)="onConfirm()">Eliminar</button>
  </div>
</ng-template>