<section>
  <div class="page-container min-vh-100">
    <div>
      <img class="position-absolute fixed-top ms-auto w-60 h-100 z-index-0 d-none d-sm-none d-md-block border-radius-section border-top-end-radius-0 border-top-start-radius-0 border-bottom-end-radius-0" src="../assets/img/a.png" />
      <img class="position-absolute fixed-top ms-8 w-auto h-100 z-index-0 d-xl-none border-radius-section border-top-end-radius-0 border-top-start-radius-0 border-bottom-end-radius-0" src="../assets/img/a-mobile.png" />
    </div>
    <div class="container">
      <div class="card blur justify-content-center shadow-lg mt-7 mb-5 px-lg-4">
        <div class="row text-center mx-1 mt-4">
          <h2> Idea <span class="text-gradient text-secondary">generada </span>
            <i class="far fa-lightbulb"></i>
          </h2>
        </div>
        <div class="card-body pb-2">
          <div class="row justify-content-center">
            <div class="col-lg-4 justify-content-center mb-4">
              <div class="card card-profile card-plain">
                <div class="card-body text-center bg-white shadow border-radius-lg p-3">
                  <img *ngIf="response.imageUrl != null; else placeholder" [src]="response.imageUrl" alt="Imagen" class="img-fluid border-radius-lg mb-3">
                  <ng-template #placeholder>
                    <img src="../assets/img/idea-noimage.png" alt="Placeholder" class="img-fluid border-radius-lg mb-3">
                  </ng-template>
                  <h5 class="mt-2 mb-2 text-uppercase">{{ response.idea }}</h5>
                  <hr class="horizontal dark my-3">
                  <p *ngIf="response.dificultad === 'Fácil'" class="font-weight-bolder text-uppercase mb-0"> Dificultad: <span class="text-gradient easy">{{ response.dificultad }}</span>
                  </p>
                  <p *ngIf="response.dificultad === 'Difícil'" class="font-weight-bolder text-uppercase mb-0"> Dificultad: <span class="text-gradient hard">{{ response.dificultad }}</span>
                  </p>
                  <p *ngIf="response.dificultad === 'Media'" class="font-weight-bolder text-uppercase mb-0"> Dificultad: <span class="text-gradient medium">{{ response.dificultad }}</span>
                  </p>
                  <button class="btn btn-round bg-gradient-primary mt-4 mb-0" (click)="saveIdea()">
                    <i class="fas fa-save"></i> Guardar idea </button>
                </div>
              </div>
            </div>
            <div class="col-lg-8">
              <div class="card mb-4 p-4">
                <div class="accordion" id="accordionSteps">
                  <div class="accordion-item" *ngFor="let step of formattedSteps; let i = index">
                    <h2 class="accordion-header" [attr.id]="'heading_' + i">
                      <button class="accordion-button text-lg font-weight-bold mb-2" type="button" data-bs-toggle="collapse" [attr.data-parent]="'#accordion_' + i" [attr.href]="'#collapse_' + i">
                        <span class="fs-5">Paso <b class="fs-3">{{ i + 1 }}</b>
                        </span>
                        <i class="collapse-close fa fa-plus text-md pt-1 position-absolute end-0 me-3"></i>
                      </button>
                    </h2>
                    <div [attr.id]="'collapse_' + i" class="accordion-collapse collapse show" [attr.aria-labelledby]="'heading_' + i">
                      <div class="accordion-body vertical-alignment">
                        <span>{{ step.text }}</span>
                        <img *ngIf="step.imageUrl" [src]="step.imageUrl" alt="Step image" class="img-fluid step-image" />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col text-center">
                <button class="btn btn-round bg-gradient-secondary mt-2" (click)="generateNewIdea()"> Generar otra idea </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>