<div class="container section-account {{visibilityRol}}">
    <h2 class="pt-3 font-weight-bold title-account">Crear cuenta</h2>
    <div class="d-flex flex-wrap flex-lg-nowrap gap-4 my-4 section-buttons">
        <div [class.card-active]="selectedRole === 'usuario'" (click)="seleccionar('usuario')" class="card card-buttons">
            <div class="card-body">
                <h4 class="card-title text-center title-option">Usuario personal</h4>
            </div>
        </div>

        <div [class.card-active]="selectedRole === 'organización'" (click)="seleccionar('organización')" class="card card-buttons">
            <div class="card-body">
                <h4 class="card-title text-center title-option">Organización benéfica</h4>
            </div>
        </div>
    </div>
    <button (click)="enableForm()" [disabled]="selectedRole == null" class="btn btn-next btn-registro btn-secondary py-2 btn-block mt-4 w-100">Siguiente</button>
</div>


<div class="outer {{visibilityForm}}">
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-md-6 col-12 col-lg-5">
                <div class="panel bg-white">
                    <h2 class="pt-3 font-weight-bold">Crear cuenta</h2>
                    <div class="panel-body">
                        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                            <div [ngClass]="{'d-flex': selectedRole === 'usuario', 'gap-2': selectedRole === 'usuario'}">
                                <div class="form-group pt-3">
                                    <label for="nombre" class="form-label required">Nombre</label>
                                    <div class="input-field" [class.error]="registerForm.controls['nombre'].dirty && registerForm.hasError('required','nombre')">
                                        <input id="nombre" 
                                        formControlName="nombre" 
                                        type="text" 
                                        placeholder="Nombre">
                                    </div>
                                <small *ngIf="registerForm.controls['nombre'].dirty && registerForm.hasError('required','nombre')" class="text-danger">Nombre requerido</small>
                                </div>
                                <div *ngIf="selectedRole == 'usuario'" class="form-group pt-3">
                                    <label for="apellido" class="form-label required">Apellido</label>
                                    <div class="input-field" [class.error]="registerForm.controls['apellido'].dirty && registerForm.hasError('required','apellido')">
                                        <input id="apellido" 
                                        formControlName="apellido" 
                                        type="text" 
                                        placeholder="Apellido">
                                    </div>
                                <small *ngIf="registerForm.controls['apellido'].dirty && registerForm.hasError('required','apellido')" class="text-danger">Apellido requerido</small>
                                </div>
                            </div>
                            <div class="form-group pt-3">
                                <label for="telefono" class="form-label">Teléfono</label>
                                <div class="input-field" [class.error]="registerForm.controls['telefono'].dirty && (registerForm.hasError('minlength','telefono') || registerForm.hasError('maxlength','telefono'))">
                                    <input id="telefono" 
                                    formControlName="telefono" 
                                    type="text" 
                                    placeholder="Teléfono"
                                    (input)="onInput($event)">
                                </div>
                            </div>
                            <small *ngIf="registerForm.controls['telefono'].dirty && (registerForm.hasError('minlength','telefono') || registerForm.hasError('maxlength','telefono'))" class="text-danger">El teléfono debe tener min. 8 dígitos y max. 10 dígitos</small>
                            <div class="form-group pt-3">
                                <label for="direccion" class="form-label required">Dirección</label>
                                <div class="input-field" [class.error]="registerForm.controls['direccion'].dirty && registerForm.hasError('required','direccion')">
                                    <input id="direccion" 
                                    formControlName="direccion" 
                                    type="text" 
                                    placeholder="Dirección">
                                </div>
                            </div>
                            <small *ngIf="registerForm.controls['direccion'].dirty && registerForm.hasError('required','direccion')" class="text-danger">Dirección requerida</small>
                            <div class="d-flex flex-colum gap-2">
                                <div class="form-group pt-3">
                                    <label for="provincia" class="form-label required">Provincia</label>
                                    <div class="input-field" [class.error]="registerForm.controls['provincia'].dirty && registerForm.hasError('required','provincia')">
                                        <input id="provincia" 
                                        formControlName="provincia" 
                                        type="text" 
                                        placeholder="Provincia">
                                    </div>
                                <small *ngIf="registerForm.controls['provincia'].dirty && registerForm.hasError('required','provincia')" class="text-danger">Provincia requerida</small>
                                </div>
                                <div class="form-group pt-3">
                                    <label for="localidad" class="form-label required">Localidad</label>
                                    <div class="input-field" [class.error]="registerForm.controls['localidad'].dirty && registerForm.hasError('required','localidad')">
                                        <input id="localidad" 
                                        formControlName="localidad" 
                                        type="text" 
                                        placeholder="Localidad">
                                    </div>
                                <small *ngIf="registerForm.controls['localidad'].dirty && registerForm.hasError('required','localidad')" class="text-danger">Localidad requerida</small>
                                </div>
                            </div>
                            <div *ngIf="selectedRole == 'organización'" class="form-group pt-3">
                                <label for="cuit" class="form-label required">Cuit</label>
                                <div class="input-field" [class.error]="registerForm.controls['cuit'].dirty && registerForm.hasError('required','cuit')">
                                    <input id="cuit" 
                                    formControlName="cuit" 
                                    type="text" 
                                    placeholder="N° de cuit">
                                </div>
                            </div>
                            <small *ngIf="registerForm.controls['cuit'].dirty && registerForm.hasError('required','cuit')" class="text-danger">Cuit requerido</small>
                            <div class="form-group pt-3">
                                <label for="email" class="form-label required">Correo electrónico</label>
                                <div class="input-field" [class.error]="registerForm.controls['email'].dirty && registerForm.hasError('required','email')">
                                    <input id="email" 
                                    formControlName="email" 
                                    type="email" 
                                    placeholder="ejemplo@ejemplo.com">
                                </div>
                            </div>
                            <small *ngIf="registerForm.controls['email'].dirty && registerForm.hasError('required','email')" class="text-danger">Correo electrónico requerido</small>
                            <div class="form-group pt-3">
                                <label for="password" class="form-label required">Contraseña</label>
                                <div class="input-field" [class.error]="registerForm.controls['password'].dirty && registerForm.hasError('required','password')">
                                    <input id="password"
                                    formControlName="password"
                                    [type]="type" 
                                    placeholder="Contraseña">
                                    <span (click)="hideShowPass()" class="fa {{eyeIcon}}"></span>
                                </div>
                            </div>
                            <small *ngIf="registerForm.controls['password'].dirty && registerForm.hasError('required','password')" class="text-danger">Contraseña requerida</small>
                            <small *ngIf="registerForm.controls['password'].dirty && registerForm.hasError('minlength','password')" class="text-danger">La contraseña debe tener al menos 6 caracteres</small>
                            <button type="submit" class="btn btn-registro btn-secondary py-2 btn-block mt-4 w-100">
                                Crear cuenta
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>