label, .form-label {
    margin-bottom: 0px;
}

.text-sm {
    margin-bottom: 0px;
}

.card-active{
    opacity: .85 !important;
}

.card-background {
    cursor: pointer !important;
}

.card.card-background.card-background-mask-primary {
    background-image: linear-gradient(310deg, #8BC53F 0%, #4281A4 100%);
    opacity: .35;
}