<div class="container-mapas-organizaciones">
  <div class="section-mapa">
    <div class="container-filtrado">
      <div>
      <h5>Seleccionar Provincia</h5>
      <!--Por Pronvicia-->
      <div>
        <select class="select" [(ngModel)]="provinciaSeleccionada" (change)="onProvinciaChange()">
          <option value="todas" selected>Todas las Provincias</option>
          <option *ngFor="let prov of provincias" [ngValue]="prov">{{prov.nombre}}</option>
        </select>
      </div>
    </div>
    <div>
      <h5>Seleccionar Organización</h5>
      <!--Por Tipo de Organización-->
      <div>
        <select class="select" [(ngModel)]="organizacionSeleccionada" (change)="onOrganizacionChange()">
          <option value="todas" selected>Todas las Organizaciones</option>
          <option *ngFor="let org of organizations" [ngValue]="org">{{org.nombre}}</option>
        </select>
      </div>
    </div>
    </div>
    <div id="map"></div>
  </div>
</div>
