<section>
  <div class="page-header min-vh-100">
    <div>
      <img class="position-absolute fixed-top ms-auto w-50 h-100 z-index-0 d-none d-sm-none d-md-block border-radius-section border-top-end-radius-0 border-top-start-radius-0 border-bottom-end-radius-0" src="../assets/img/curved-images/curved8.jpg" alt="image">
    </div>
    <div class="container">
      <div class="card d-flex blur justify-content-center shadow-lg my-sm-0 my-sm-6 mt-8 mb-5 ">
        <div class="col-8 text-center mx-auto">
          <h1 class="pt-3 mb-4">Ubicaciones Organizaciones Benéficas</h1>
        </div>
        <div class="card-body pt-0">
          <div class="row">
            <div class="col-lg-8 mb-4 align-items-center">
              <div id="map" class="card" allowfullscreen="true" loading="lazy"></div>
            </div>
            <div class="col-lg-4 mb-4 d-flex">
              <div>
                <div class="mb-4">
                  <h5>Seleccionar Provincia</h5>
                  <!--Por Provincia-->
                  <div>
                    <select class="form-control" [(ngModel)]="provinciaSeleccionada" (change)="onProvinciaChange()">
                      <option value="todas" selected>Todas las Provincias</option>
                      <option *ngFor="let prov of provincias" [ngValue]="prov">{{prov.nombre}}</option>
                    </select>
                  </div>
                </div>
                <div>
                  <h5>Seleccionar Organización</h5>
                  <!--Por Tipo de Organización-->
                  <div>
                    <select class="form-control" [(ngModel)]="organizacionSeleccionada" (change)="onOrganizacionChange()">
                      <option value="todas" selected>Todas las Organizaciones</option>
                      <option *ngFor="let org of organizations" [ngValue]="org">{{org.nombre}}</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>