name: API CI/CD

on:
  push:
    branches: ["main"]
    paths: 
      - 'backend/**'
  pull_request:
    branches: [ "main", "develop" ]
    paths: 
      - 'backend/**'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Setup .NET version
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 8.0.x

    - name: Restore dependencies
      run: dotnet restore
      working-directory: ./backend

    - name: Build
      run: dotnet build ./backend/backend.sln --no-restore

    - name: Run unit tests
      run: dotnet test ./backend/backend.sln --no-build --verbosity normal
      
    - name: Generate package
      run: dotnet publish ./backend/backend.api/backend.api.csproj -c Release -r linux-x64 --self-contained false -o ./backend/bin/Release/net8.0/publish

    outputs:
      package-path: ${{ steps.generate-package.outputs.package-path }}

  deploy:
    runs-on: ubuntu-latest
    needs: build

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: 'Deploy to Azure Web App'
      uses: azure/webapps-deploy@v2
      with:
        app-name: 'lgtm-dev-api'
        publish-profile: ${{ secrets.AZURE_WEBAPP_PUBLISH_PROFILE }}
        package: ${{ needs.build.outputs.package-path }}
