
<div class="outer">
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-md-6 col-12 col-lg-5">
                <div class="panel bg-white">
                    <div class="panel-body">
            
                        <h1>¡Reciclar telas <br>
                            nunca fué <br> 
                            <span [ngStyle]="{ 'background-color': '#8bc53f', 'border-radius': '10px', 'padding-right': '13px', 'padding-left': '13px', 'color': 'white'}">tan fácil!</span>
                        </h1>
                        <br>
                        <h5>Para poder acceder a la herramienta de generación de ideas, tenés que iniciar sesión primero.</h5>
                        <br>
                        <br>
                        <div>
                            <button class="btn btn-secondary py-2 btn-block mt-4 w-50">Ingresar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>