.tanFacil {
  background-color: var(--color-primary);; 
  border-radius: 10px; 
  padding-right: 13px; 
  padding-left: 13px; 
  color: white
}

#btnIngresar{
  border-radius: 10px;
}

.primerTitulo{
  font-size: 430%;
}

.noSabesQueTela{
  color: var(--color-primary);;
}

#ia{
  color: var(--color-primary);;
}

.imgUp {
  position: relative;
}

.uploadFile{
  display: none;
}

.imagePreview {
  position: relative;
  width: 100%;
  height: 180px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0px -3px 6px 2px rgba(0,0,0,0.2);
}

.del {
  position: absolute;
  top: 5px;
  right: 15px;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  background-color: rgba(255, 255, 255, 0.6);
  cursor: pointer;
  z-index: 1;
}


.btn-secondary
{
  display:block;
  border-radius:0px;
  box-shadow:0px 4px 6px 2px rgba(0,0,0,0.2);
  margin-top:-5px;
}

.imgUp
{
  margin-bottom:15px;
}

.icon_add{
  cursor: pointer;
  color:var(--color-primary);
  font-size:24px;
  height: max-content;
}

#btnGenerarIdea{
  display:block;
  border-radius:10px ;
  box-shadow:0px 4px 6px 2px rgba(0,0,0,0.2);
  margin-top:-5px;
  background-color: var(--color-primary);;
  color: white;
}

.form-control:focus{
  border-color: #ced4da;
}

.form-control{
  outline: none;
  box-shadow:none;
}
